/* stylelint-disable custom-property-empty-line-before */
[data-theme="contrast"] {
  /* Body */
  --body-bg: #464646;
  /* Navbar */
  --menu-bg: #747474;
  --nav-bg: #232323;
  /* Global */
  --white: #b8b8b8;
  --accent: #8b46a3;
}
