/* stylelint-disable custom-property-empty-line-before */
[data-theme="light"] {
  /* Body */
  --body-bg: #9e9e9e;
  /* Navbar */
  --menu-bg: #a09f9f;
  --nav-bg: #838383;
  /* Global */
  --white: #1c1c1c;
  --accent: hsl(280, 60%, 70%);
}
