@media (min-width: 1080px) {
  header nav ul#nav__list li:hover .nav__itemdrop,
  header nav ul#nav__list li:focus-within .nav__itemdrop {
    top: 100%;
  }

  .nav__itemdrop li:not(:first-child) .nav__itemdrop2 li:focus-within ul.nav__itemdrop3 {
    top: -10%;
  }
}

@media (max-width: 1080px) {
  html {
    font-size: 87.5%; /* 14px */
  }

  footer div#footer-body {
    padding: 1rem;
  }

  footer #footer-body section:not(.icons) {
    padding: 1rem 2rem;
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 75%; /* 12px */
  }
}

@media (max-width: 800px) {
  html {
    font-size: 62.50%; /* 10px */
  }

  /* Hamburguer menu */
  header div#menu {
    padding: 0.6rem 3rem;
    justify-content: space-between;
  }

  header div#menu div#hamburger {
    display: flex;
  }

  header div#menu div#hamburger menu:hover span,
  header div#menu div#hamburger menu:focus-within span {
    background: var(--accent);
  }

  header #menu #social,
  header #menu #user-interactions,
  nav {
    display: none;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 50%; /* 8px */
  }
}