.splash {
  width: 100%;
  height: 100%;
  padding: var(--spacing-7);
  background: var(--body-bg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.splash .icon {
  width: 100%;
  margin-bottom: var(--spacing-7);
}

.splash .icon path {
  fill: unset;
  -webkit-animation: rgb infinite 4s;
          animation: rgb infinite 4s;
}

.splash .tip {
  text-align: center;
  width: 100%;
}

.splash .tip h6 {
  font-size: var(--paragraph);
  color: #8b46a3;
}

.splash .tip small {
  font-size: var(--small);
  color: #fafafa;
}

@-webkit-keyframes rgb {
  100%, 0% {
    fill: red;
  }
  8% {
    fill: #ff7f00;
  }
  16% {
    fill: yellow;
  }
  24% {
    fill: chartreuse;
  }
  32% {
    fill: lime;
  }
  40% {
    fill: springgreen;
  }
  48% {
    fill: cyan;
  }
  56% {
    fill: #007fff;
  }
  64% {
    fill: blue;
  }
  72% {
    fill: #7f00ff;
  }
  80% {
    fill: magenta;
  }
  88% {
    fill: #ff007f;
  }
}

@keyframes rgb {
  100%, 0% {
    fill: red;
  }
  8% {
    fill: #ff7f00;
  }
  16% {
    fill: yellow;
  }
  24% {
    fill: chartreuse;
  }
  32% {
    fill: lime;
  }
  40% {
    fill: springgreen;
  }
  48% {
    fill: cyan;
  }
  56% {
    fill: #007fff;
  }
  64% {
    fill: blue;
  }
  72% {
    fill: #7f00ff;
  }
  80% {
    fill: magenta;
  }
  88% {
    fill: #ff007f;
  }
}
