$colors-default: (
  gray-scale: (
    90: hsl(200, 0%, 90%),
    100: hsl(200, 0%, 80%),
    200: hsl(200, 0%, 70%),
    300: hsl(200, 10%, 60%),
    400: hsl(200, 15%, 40%),
    500: hsl(200, 20%, 20%),
    600: hsl(200, 20%, 15%),
    700: hsl(200, 10%, 15%),
    800: hsl(200, 10%, 10%),
    900: hsl(200, 10%, 5%),
    1000: hsl(200, 10%, 0%),
  ),
);
$colors-light: (
  gray-scale: (
    1000: hsl(200, 0%, 100%),
    900: hsl(200, 0%, 95%),
    800: hsl(200, 0%, 90%),
    700: hsl(200, 0%, 80%),
    600: hsl(200, 15%, 40%),
    500: hsl(200, 20%, 20%),
    400: hsl(200, 20%, 15%),
    300: hsl(200, 10%, 15%),
    200: hsl(200, 10%, 10%),
    100: hsl(200, 10%, 5%),
    90: hsl(200, 10%, 0%),
  ),
);
