.footer {
  @media (max-width: 850px) {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.35rem;
  
  background: var(--color-header-footer);
  
  border-top: 2px solid var(--accent-100);
  
  padding-top: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-top: auto;
  
  
  
  &--title {
    font-size: clamp(1rem, 0.9000rem + 0.5000vw, 1.5rem);
    
    font-weight: 500;
    line-height: 1.5em;
    
    color: var(--accent-100);
    
    position: relative;
    
    margin-bottom: 1rem;
    
    &::after {
      content: "";
      position: absolute;
      
      background: var(--accent-100);
      
      width: 25px;
      height: 2px;
      left: 0;
      bottom: -2px;
    } 
    
  }
  
  &--paragraph {
    font-size: clamp(1rem, 0.9700rem + 0.1500vw, 1.15rem);
    
    max-width: 50ch;
    
    margin-bottom: .5rem;
  }
  
  &--aboutus,
  &--contact-us,
  &--quicklinks {
    margin: 0rem 1rem;
  }
  
  &--quicklinks,
  &--contact-us {
    li {
      font-size: clamp(0.9rem, 0.8300rem + 0.3500vw, 1.25rem);
      
      list-style: none;
    }
    
    li:hover {
      a {
        color: var(--accent-100);
        transition: all 200ms ease;
      }
    }
  }
  
  &--links-list, 
  &--contact-list {
    gap: .5rem;
  }
  
  &--logo {
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    &--svg {
      width: clamp(7rem, 5.4000rem + 8.0000vw, 15rem);
      height: auto;
      
      margin: 1rem 0rem;
    }
  }
  
  &--copyright {
    
    font-weight: 400;
    text-align: center;
    
    width: 100%; 
    
    border-top: 1px solid #fff;
    padding: 0.7em 0em;
    
    &--text {
      font-size: clamp(0.85rem, 0.8200rem + 0.1500vw, 1rem);
    }
  }
}
