.hamburger--header--button {
  border: 0;
  background: transparent;
  position: relative;

  &--span {
    display: block;
    position: relative;
    outline: none;
  }

  &--span,
  &--span::before,
  &--span::after {
    width: 2.5rem;
    height: 3.5px;

    background: var(--gray-100);
    border-radius: 1rem;

    transition: transform 250ms ease-in-out;
  }
  
  &--span::before,
  &--span::after {
    content: '';
    position: absolute;
    left: 0;
  }
  
  &--span::before { bottom: .8rem; }
  &--span::after { top: .8rem;}
}

.nav--open {
  .hamburger--nav {
    transform: translateX(0);
    z-index: 998;
    
  }
}

.hamburger--nav {
  width: 15rem;
  height: 100vh;
  text-align: left;
  
  background: var(--gray-800);
  border-top: 3px solid var(--accent-100);

  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 999;

  // padding: 0 3rem;

  transform: translateX(-100%);
  transition: transform 300ms cubic-bezier(.5, 0, .5, 1);

  
  &--list {
    margin-top: 1.5rem;
    margin-left: 1.25rem;
    margin-right: 1.25rem;

    &--wrapper {
      display: flex;
      align-items: center;
      gap: 1rem;

      &--image {
        width: 30px;
        height: 30px;

        opacity: .65;
      }
    }
  }

  &--item {
    list-style: none;
    text-transform: uppercase;

    margin: 1.5rem 0;

    position: relative;
  }
}