// @import url('./dropdown.css');
header {
  display: none;
}

@media (min-width: 850px) {
  
  header {
    width: 100%;
    
    display: flex;
    place-items: center;
    justify-content: space-between;
    
    background: var(--gray-900);
    border-bottom: 2px solid var(--accent-100);
    
    padding: clamp(1rem, 1vw, 2rem) clamp(1rem, 3vw, 4rem);
    
    // transform-style: preserve3d;
    // perspective: 3000px;
    
    position: relative;
    
    *:hover,
    *:focus {
      transition: all 200ms ease;
    }
    
    a:hover,
    a:focus,
    button:hover,
    button:focus {
      outline: none;

      path {
        stroke: var(--accent-100);
        transition: all 200ms ease;
      }
    }
    
    svg {
      width: 2.35rem;
      height: 2.35rem;
    }
    
    div {
      display: flex;
      gap: .5rem;
    }
   
  }

}