@import "../animations/fillRGB";
@import "../animations/strokeRGB";

/* stylelint-disable custom-property-empty-line-before */
[data-theme="rgb"] {
  svg {
    &[data-icon="neo"] {
      .x {
        animation: fillRGB 4s infinite;
      }
    }

    &[data-icon="facebook"] {
      *:not(rect:first-of-type) {
        animation: strokeRGB 4s infinite; 
      }
    }

    &[data-icon="twitter"], &[data-icon="instagram"] {
      *:not(rect:first-of-type, circle:last-of-type) {
        animation: strokeRGB 4s infinite; 
      }

      :is(circle:last-of-type) {
        animation: fillRGB 4s infinite;
      }
    }
    // &:hover {
    //   *:not(rect:first-of-type) {
    //     stroke: transparent;
    //     animation: fillRGB 4s infinite;
    //   }
    // }
  }

  /* Body */
  --body-bg: #464646;
  
  /* Navbar */
  --menu-bg: #747474;
  --nav-bg: #8a3a3a;
  
  /* Global */
  --white: #b8b8b8;
  --accent: #8b46a3;
}