@use '../abstracts/_mixins.scss' as *;

.accordion {
  width: 100%;
  
  text-align: left;
  color: var(--color-contrast-higher);
  
  background-color: var(--color-contrast-medium);
  
  cursor: pointer;
  border: none;
  outline: none;
  padding: 1rem;
  
  transition: all 300ms linear;
}

.active, .accordion:hover {
  background-color: var(--color-contrast-lowest);
}

.panel {
  max-height: 0;
  
  color: var(--color-contrast-higher);
  
  background-color: var(--color-contrast-low);
  margin-bottom: 1.5rem;
  padding: 0 1rem;
  overflow: hidden;
  
  border-bottom-left-radius: .85rem;
  border-bottom-right-radius: .85rem;
  
  transition: max-height 0.2s ease-out;
  
  p {
    padding: 1rem;
  }
}
