@media (min-width: 950px) {
  
  .dropdown {
    display: flex;
    
    &--item {
      position: relative;
      
      &:hover,
      &:focus-within {
        .dropdown--submenu{
          opacity: 1;
          
          transform: translateX(-50%) rotateX(0deg);
          // visibility: visible;
          transition-timing-function: ease-out;
        }
      }
    }
    
    &--submenu { 
      flex-direction: column;
      
      background: var(--gray-700);
      border-radius: 1em;
      
      padding: 1rem;
      
      content: '';
      position: absolute;
      top: calc(100% + .75rem);
      left: 50%;
      z-index: 1;
      
      opacity: .1;
      
      transform: translateX(-50%) rotateX(-90deg);
      transform-origin: top center;
      transition: all 200ms ease-in;
      
      &::after {
        border: .5rem solid transparent;
        border-bottom-color: var(--gray-700);
        content: '';
        position: absolute;
        top: -1rem;
        left: 50%;
        
        transform: translateX(-50%);
      }
      
      &--wrapper {
        width: 33rem;
        
        display: flex;
        align-items: baseline;
        justify-content: space-evenly;
      }
      
      &--item--wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
      }
      
      &--title {
        display: flex;
        align-items: center;
        justify-content: center;
        
        &--image {
          width: 2.75rem;
          height: 2.75rem;
        }
      }
      
      &--item {
        text-align: left;
        text-decoration: none;
        
        width: 100%;
        
        list-style: none;
      }
      
      &--item--console {
        width: 8rem;
        text-align: center;
        text-decoration: none;
        
        list-style: none;
      }
      
      &--align--center {
        text-align: center;
      }
      
      &--anchor {
        font-size: 1.45rem;
      }
      
      &--section {
        width: 100%;

        display: flex;
        align-items: center;

        background: var(--gray-800);
        border-radius: .5rem;

        padding: .95rem;
        margin-top: .75rem;

        &--paragraph {
          text-align: left;
          font-size: 1rem;
        }

        &--cta {
          color: var(--accent-100);
        }
      }
    }
    
  }
  
}