@use '../abstracts/_mixins.scss' as *;

.modalWrapper {
  max-height: 90vh;
  overflow: auto;
  
  padding: 2rem;
  background: var(--clr-gray-scale-800);
  
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 999;
  transform: translateX(-50%) translateY(-50%);
  
  border-radius: 1rem;
  opacity: 0;
  pointer-events: none;
  
  transition: all 200ms linear;
}

.show {
  pointer-events: auto;
  opacity: 1;
}

.closeAccordion {
  font-family: var(--ff-montserrat);
  color: var(--clr-gray-scale-90);
  padding: .5rem;
  
  background: var(--clr-accent-200);
  outline: 0;
  border: 0;
  border-radius: .5rem;
  
  &:hover {
    background: var(--clr-accent-300);
  }
}
