@use '../abstracts/_mixins.scss' as *;

@include mq(992px) {
  .product--card {
    background: var(--clr-gray-scale-700);
    box-shadow: 1px 15px 20px black;
    border-radius: 1rem;
    
    &--image {
      display: flex;
      @include items-center;
      
      background: var(--color-contrast-higher);
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
      padding: .85rem;
      
      cursor: pointer;
      
      transition: all 200ms ease-in-out;
      
      &:hover {
        transform: scale(1.1);
        border-radius: 1rem;
      }
    }
    
    &--desc {
      padding: 1rem;
    }
    
    &--paragraph,
    &--buy {
      font-size: 1rem;
      text-transform: uppercase;
    }
    
    &--title {  
      max-width: 20ch;
      min-height: 5rem;

      font-size: .9rem;    

      margin-bottom: .5rem;
    }
    
    &--paragraph {
      color: limegreen;
      
      margin: .95rem 0;
    }
    
    
  }
  
  .product--category {
    font-size: .9rem;
    color: var(--color-contrast-higher);
    
    background: var(--color-contrast-low);
    padding: .45rem;
    border-radius: .5rem;
  }
  
  .product--card--button--wrapper {
    width: 100%;
    display: flex;
  }
  
  .product--card--buy {
    width: 100%;
    
    color: var(--color-contrast-higher);
    font-size: clamp(.7rem, 1vw, 1rem); 
    font-family: var(--ff-montserrat);
    
    display: flex;
    @include items-center;
    gap: .2rem;
    
    background: var(--accent-100);
    outline: 0;
    border: 0;
    border-bottom-left-radius: .5rem;
    border-top-left-radius: .5rem;

    padding-left: .5rem ;
    padding-top: .5rem;
    padding-bottom: .5rem;
    
    transition: all 200ms ease-in-out;
    
    &:hover,
    &:focus {
      background: var(--accent-200);
    }
    
  }
  
  .product--card--cart {
    width: 50%;

    color: var(--color-contrast-higher);
    font-size: clamp(.8rem, 1vw, 1rem); 
    font-family: var(--ff-montserrat);
    
    display: flex;
    @include items-center;
    gap: .2rem;
    
    background: var(--accent-100);
    outline: 0;
    border: 0;
    border-bottom-right-radius: .5rem;
    border-top-right-radius: .5rem;
    
    padding: .35rem;
    
    transition: all 200ms ease-in-out;
    
    &:hover,
    &:focus {
      background: var(--accent-200);
    }
    
  }
  
  .product--card--label {
    width: 20px;
  }
}

@include mq(1200px) {
  .product--card {
    background: var(--color-contrast-lower);
    box-shadow: 1px 15px 20px var(--clr-gray-scale-800);
    border-radius: 1rem;
    
    &--image {
      display: flex;
      @include items-center;
      
      background: var(--color-contrast-higher);
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
      padding: 1rem;
      
      cursor: pointer;
      
      transition: all 200ms ease-in-out;
      
      &:hover {
        transform: scale(1.1);
        border-radius: 1rem;
      }
    }
    
    &--desc {
      padding: 1.5rem;
    }
    
    &--paragraph,
    &--buy {
      font-size: 1.15rem;
      text-transform: uppercase;
    }
    
    &--title {  
      max-width: 20ch;
      min-height: 5.5rem;

      font-size: 1.2rem;

      margin-bottom: .5rem;
    }
    
    &--paragraph {
      color: var(--clr-secondary-green-300);
      
      margin: .95rem 0;
    }
    
  }
  
  .product--category {
    color: var(--color-contrast-higher);
    
    background: var(--color-contrast-low);
    padding: .45rem;
    border-radius: .5rem;
  }
  
  .product--card--button--wrapper {
    width: 100%;
    display: flex;
    // @include space-between;
  }
  
  .product--card--buy {
    color: var(--color-contrast-higher);
    font-size: var(--fs-300); 
    font-family: var(--ff-montserrat);
    
    display: flex;
    @include items-center;
    gap: .2rem;
    
    background: var(--clr-accent-300);
    outline: 0;
    border: 0;
    border-bottom-left-radius: .5rem;
    border-top-left-radius: .5rem;
    
    padding: .65rem;
    
    transition: all 200ms ease-in-out;
    
    &:hover,
    &:focus {
      background: var(--clr-accent-400);
    }
    
  }
  
  .product--card--cart {
    width: 50%;

    color: var(--color-contrast-higher);
    font-size: var(--fs-300); 
    font-family: var(--ff-montserrat);
    
    display: flex;
    @include items-center;
    gap: .2rem;
    
    background: var(--clr-accent-300);
    outline: 0;
    border: 0;
    border-bottom-right-radius: .5rem;
    border-top-right-radius: .5rem;
    
    transition: all 200ms ease-in-out;
    
    &:hover,
    &:focus {
      background: var(--clr-accent-400);
    }
    
  }
  
  .product--card--label {
    width: 32px;
  }
}