@use '../abstracts/_mixins.scss' as *;

@include lg {
  .product--card {
    background: var(--color-contrast-lower);
    box-shadow: 1px 15px 20px black;
    border-radius: 1rem;
    
    &--image {
      display: flex;
      @include items-center;
      
      background: var(--accent-100);
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
      padding: 1rem;
      
      cursor: pointer;
      
      transition: all 200ms ease-in-out;
      
      &:hover {
        transform: scale(1.1);
        border-radius: 1rem;
      }
    }
    
    &--desc {
      min-height: 230px;
      padding: 1.5rem;
    }
    
    &--paragraph,
    &--buy {
      font-size: .95rem;
      text-transform: uppercase;
    }
    
    &--title {  
      font-size: .9rem;    
      max-width: 20ch;
      margin-bottom: .5rem;
    }
    
    &--paragraph {
      color: limegreen;
      
      margin: .95rem 0;
    }
    
    
  }
  
  .product--category {
    font-size: .9rem;
    color: var(--color-contrast-higher);
    
    background: var(--color-contrast-low);
    padding: .45rem;
    border-radius: .5rem;
  }
  
  .product--card--button--wrapper {
    width: 100%;
    display: flex;
  }
  
  .product--card--buy {
    width: 100%;
    
    color: var(--color-contrast-higher);
    font-size: clamp(.8rem, 1vw, 1rem); 
    font-family: var(--ff-montserrat);
    
    display: flex;
    @include items-center;
    gap: .2rem;
    
    background: var(--accent-100);
    outline: 0;
    border: 0;
    border-bottom-left-radius: .5rem;
    border-top-left-radius: .5rem;
    
    padding: .5rem .8rem;
    
    transition: all 200ms ease-in-out;
    
    &:hover,
    &:focus {
      background: var(--accent-200);
    }
    
  }
  
  .product--card--cart {
    color: var(--color-contrast-higher);
    font-size: clamp(.8rem, 1vw, 1rem); 
    font-family: var(--ff-montserrat);
    
    display: flex;
    @include items-center;
    gap: .2rem;
    
    background: var(--accent-100);
    outline: 0;
    border: 0;
    border-bottom-right-radius: .5rem;
    border-top-right-radius: .5rem;
    
    padding: .5rem .8rem;
    
    transition: all 200ms ease-in-out;
    
    &:hover,
    &:focus {
      background: var(--accent-200);
    }
    
  }
  
  .product--card--label {
    width: 32px;
  }
}

@include xl {
  .product--card {
    background: var(--color-contrast-lower);
    box-shadow: 1px 15px 20px black;
    border-radius: 1rem;
    
    &--image {
      display: flex;
      @include items-center;
      
      background: var(--accent-100);
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
      padding: 1rem;
      
      cursor: pointer;
      
      transition: all 200ms ease-in-out;
      
      &:hover {
        transform: scale(1.1);
        border-radius: 1rem;
      }
    }
    
    &--desc {
      min-height: 230px;
      padding: 2rem;
    }
    
    &--paragraph,
    &--buy {
      text-transform: uppercase;
    }
    
    &--title {  
      font-size: 1.25rem;    
      max-width: 20ch;
      margin-bottom: .5rem;
    }
    
    &--paragraph {
      color: limegreen;
      
      margin: .95rem 0;
    }
    
  }
  
  .product--category {
    color: var(--color-contrast-higher);
    
    background: var(--color-contrast-low);
    padding: .45rem;
    border-radius: .5rem;
  }
  
  .product--card--button--wrapper {
    width: 100%;
    display: flex;
    // @include space-between;
  }
  
  .product--card--buy {
    color: var(--color-contrast-higher);
    font-size: clamp(.8rem, 1vw, 1rem); 
    font-family: var(--ff-montserrat);
    
    display: flex;
    @include items-center;
    gap: .2rem;
    
    background: var(--accent-100);
    outline: 0;
    border: 0;
    border-bottom-left-radius: .5rem;
    border-top-left-radius: .5rem;
    
    padding: .5rem .8rem;
    
    transition: all 200ms ease-in-out;
    
    &:hover,
    &:focus {
      background: var(--accent-200);
    }
    
  }
  
  .product--card--cart {
    color: var(--color-contrast-higher);
    font-size: clamp(.8rem, 1vw, 1rem); 
    font-family: var(--ff-montserrat);
    
    display: flex;
    @include items-center;
    gap: .2rem;
    
    background: var(--accent-100);
    outline: 0;
    border: 0;
    border-bottom-right-radius: .5rem;
    border-top-right-radius: .5rem;
    
    padding: .5rem .8rem;
    
    transition: all 200ms ease-in-out;
    
    &:hover,
    &:focus {
      background: var(--accent-200);
    }
    
  }
  
  .product--card--label {
    width: 32px;
  }
}