// * Customer Controls

@media (min-width: 950px) {
  .user--controls--customer {
    position: relative;
    
    &:hover,
    &:focus-within {
      .user--controls--customer--choices {
        transform: translateX(-50%) rotateX(0deg);
        opacity: 1;
      }
    }
    
    &--choices {
      width: max-content;
      
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      // gap: .5rem;
      
      content: '';
      position: absolute;
      left: 50%;
      top: 130%;
      transform: translateX(-50%) rotateX(-90deg);
      transform-origin: top center;
      transition: all 200ms ease-in;
      
      opacity: 0.1;
      
      
      background: var(--gray-700);
      outline: 0;
      border: 0;
      border-radius: .45em;
      
      padding: .85rem;
      
      
      
      &::after {
        border: 0.5rem solid transparent;
        border-bottom-color: var(--gray-700);
        content: "";
        position: absolute;
        top: -1rem;
        left: 50%;
        transform: translateX(-50%);
      }
      
      &--item {
        display: flex;
        align-items: center;
        flex-direction: row;
      }
      
      &--button {
        font-family: var(--ff-josefin);
        font-weight: 300;
        color: white;
        text-transform: uppercase;
        
        background: var(--gray-700);
        border: 0;
        
        cursor: pointer;
        
        margin-top: .3rem;
        padding: .25rem .5rem;

        &:hover,
        &:focus-within {
          color: var(--accent-100);
          transition: all 200ms ease-in;
          border-radius: 0.25rem;

       
        }
      }
      
      &--icon {
        width: 30px;
        height: 30px;
        opacity: .65;
      }
    }
    
  }
  
}

