@use '../abstracts/mixins' as *;

.profile--body {
  @include mq(1200px) {
    justify-content: center;
    padding: 1rem;
  }
}

.profile--wrapper {
  width: 100%;

  background: var(--clr-gray-scale-700);
  padding: 0;

  @include mq(1200px) {
    border-radius: 1rem;
  }
}

.profile--banner {
  width: 100%;
  height: 30vh;

  background-image: url(../images/pages/profile/ben-o-bro-unsplash.webp);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1rem;
}

.profile--avatar {
  &--image {
    width: 220px;

    background: var(--clr-gray-scale-800);

    margin-top: -10rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1rem;
  }

  @include mq(992px) {
    &--image {
      margin-left: 5rem;
      margin-right: auto;
    }
  }
}

.profile--purchase--wrapper,
.profile--review--wrapper {
  display: flex;
  flex-direction: column;

  @include mq(992px) {
    flex-direction: row;
  }
}

.profile--name {
  text-align: center;
  width: none;
  margin-top: auto;
  margin-left: auto;

  @include mq(1200px) {
    width: max-content;

    margin-top: 1rem;
    margin-left: 5rem;
    margin-right: 0;
  }
}

.profile--purchase {
  width: max-content;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 2rem;
  margin-bottom: 2rem;

  margin-left: auto;
  margin-right: auto;

  @include mq(1200px) {
    width: max-content;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-left: 5rem;
    margin-right: 0;
  }
}

.profile--purchase--options {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  margin: 1.5rem 0;

  @include mq(1200px) {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;

    margin: 1.5rem 5rem;
  }
}

.profile--purchase--category {
  display: flex;
  align-items: center;
}

.profile--purchase--image {
  width: 30px;

  @include mq(1200px) {
    width: 40px;
  }
}

.profile--purchase--history {
  font-size: var(--fs-500);
  background-image: linear-gradient(
    to right,
    var(--clr-accent-200),
    var(--clr-accent-200)
  );
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 100% 2px;
  cursor: pointer;
  user-select: none;
  transition: all 200ms linear;

  &:hover {
    color: var(--clr-gray-scale-900);
    background-size: 100% 100%;
  }
}

.profile--history--card {
  text-align: center;
  width: 100%;
  background: var(--clr-gray-scale-800);
}

.profile--history--card:nth-child(1) {
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}

.profile--history--card:nth-child(2) {
  overflow: hidden;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.profile--history--card--paragraph,
.profile--history--card--price {
  background: var(--clr-gray-scale-900);
}

.profile--history--card--paragraph {
  font-size: var(--fs-600);

  padding-top: 1rem;

  @include mq(1200px) {
    font-size: var(--fs-500);
  }
}

.profile--history--card--price {
  font-size: var(--fs-400);
  color: var(--clr-secondary-green-200);

  padding-bottom: 1rem;
  border-bottom-right-radius: 1rem;

  border-bottom-left-radius: 1rem;
}

.profile--product {
  width: 265px;
  padding: 1rem;

  transition: all 150ms linear;

  &:hover {
    transform: scale(1.15);
    border-radius: 0.5rem;
  }
}

.reviewWrapper {
  display: none;
}

.star--profile {
  text-align: center;
  background: var(--clr-gray-scale-900);
  padding: 1rem 0;
}

.rating--profile {
  margin-top: 0;
}
