@import url('./dropdown.css');

header {
  width: 100%;

  background: var(--gray-900);

  display: flex;

  place-items: center;
  justify-content: space-between;

  position: relative;

  padding: clamp(1rem, 1vw, 2rem) clamp(1rem, 3vw, 4rem);

  border-bottom: 2px solid var(--accent-100);

  transform-style: preserve3d;

  perspective: 3000px;
  position: relative;
}

/* targets all the divs with icons inside */
header div {
  display: flex;

  gap: 0.5rem;
}

/* main navigation */
header ul {
  font-size: clamp(0.7rem, 0.64rem + 0.3vw, 1rem);

  display: flex;
  align-items: center;

  gap: clamp(0.6em, 1vw, 2em);
}

nav ul li {
  width: 7rem;
  text-align: center;
  position: relative;
}

nav img {
  width: 5rem;
  height: auto;
}

nav li a {
  padding: 0.3rem;
  border-radius: 0.3rem;
  width: 100%;
  height: 100%;
  position: relative;
}

nav li a:hover {
  color: var(--gray-100);

  background: var(--accent-100);
}

li a:focus::after {
  content: '';
  position: absolute;

  left: 50%;
  bottom: -0.5rem;
  transform: translateX(-100%);

  width: 1.25rem;
  height: clamp(0.08rem, 1vw, 0.15rem);

  background: var(--accent-100);
  border-radius: 0.2rem;

  animation: fadeIn 200ms forwards;
}
