@media (max-width: 400px){
  /* 
  ######
  FOOTER 
  ######*/
  .footer-wrap{
    justify-content: space-between; 
    align-items: start;
  }
  /* 
  ######
  ###### 
  ###### */
}

@media (max-width: 500px){
  /* 
  ######
  HAMBURGUER 
  ######*/
  .header-logo svg.hamburguer-header-svg{
    width: 5em;
    height: 5em;
  }

  .hamburguer-user-control{
    width: 1.45em;
    height: 1.45em;
  }

  .🍔{
    width: 2rem;
    height: 3px;
  }

  #hamburguer-menu:hover span {
    background: var(--accent);
  }
  
  #hamburguer-menu:hover .🍔:nth-child(2){
    width: 1.7rem;
  }
  
  .🍔:nth-child(3){
    margin: 0.5rem 0;
  }
  
  #hamburguer-menu:hover .🍔:nth-child(4) {
    width: 1.3rem;
    transition: var(--transition);
  }
  
  #🔳:checked ~ .🍔:nth-child(2){
    transform: translate(0, 3px);
  }
  
  #🔳:checked ~ .🍔:nth-child(3){
    margin: 0;
  }
  
  #🔳:checked ~ .🍔:nth-child(4){
    transform: translate(0, -3px);
  }
  /* 
  ######
  ###### 
  ###### */
}

@media (max-width: 768px){
  /* 
  ######
  FOOTER 
  ######*/
  .footer-logo-svg{
    width: 10.5em;
    height: 5em;
  }
  /* 
  ######
  ###### 
  ###### */
}

@media (max-width: 850px){
  /* 
  ######
  HEADER 
  ######*/
  header.header{
    display: none;
  }

  nav{
    display: none;
  }
  /* 
  ######
  ###### 
  ###### */

  /* 
  ######
  HAMBURGUER 
  ######*/
  #hamburguer-wrap{
    display: flex;
    padding: 0.5rem 2rem;
    justify-content: space-between;
  }

  .hamburguer-content{
    display: flex;
  }
  /* 
  ######
  ###### 
  ###### */
}

@media (min-width: 850px){
  #hamburguer-wrap{
    display: none;
  }

}

@media (max-width: 1450px){
  /* 
  ######
  HEADER 
  ###### */
  header .nav a{
    padding: 1rem 0.5rem;  
  }

  .nav-item-drop_1 li a{
    padding: 0.5rem;
  }
  /* 
  ######
  ###### 
  ###### */

  /* 
  ######
  FOOTER 
  ######*/
  .footer-wrap{
    flex-direction: column;
  }
  /* 
  ######
  ###### 
  ###### */
}

@media (max-width: 1920px){
  /* 
  ######
  HEADER 
  ###### */
  .nav a{
    padding: 1rem 1.20rem;  
  }
  /* 
  ######
  ###### 
  ###### */
}