@mixin dropdownItemTemplate {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: black;
  position: absolute;
}

.dropdownContainer {
  @include dropdownItemTemplate;

  transition: height 500ms ease;
  overflow: visible;

  a {
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0.5rem;
    padding: 0.5rem;
    display: flex;
    text-align: left;
    justify-content: start;
  }

  li {
    width: 100%;
    position: relative;

    ul {
      @include dropdownItemTemplate;

      top: -900px;
      opacity: 0;
      left: 100%;
      justify-content: flex-start;
      transition: all 100ms;

      li {
        height: 100%;
      }
    }

    &:hover {
      color: var(--accent);

      > ul {
        top: 0;
        animation: dropdownFadeIn 300ms forwards;
      }
    }
  }
}

@keyframes dropdownFadeIn {
  0% {
    top: 0;
  }
  1% {
    opacity: 0;
    transform: translate(0, -10%);
  }
  99% {
    opacity: 1;
    transform: none;
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

.menu {
  width: 100%;
}

.iconRight {
  margin-left: auto;
}

.iconButton {
  margin-right: 0.5rem;

  &:hover {
    filter: none;
  }
}
