@import "../../mixins";

.header {
  color: var(--color-gray-100);
  width: 100%;
  height: 100%;

  display: grid;

  align-items: center;
  grid-area: header;
  grid-template-areas:
    ". wrapper ."
    ". . ."
    ". . ."
  ;
  grid-template-columns: 8% 84% 8%;

  background: linear-gradient(to right, var(--color-accent-100), var(--color-accent-200));
  margin: auto;
  padding: 2rem 0;

  nav {
    width: 100%;
    max-width: 500px;
    margin: auto;

    ul {
      display: flex;

      align-items: center;
      justify-content: space-between;

      li {
        a {
          display: flex;

          svg {
            zoom: 0.7;
          }

          &[data-active="true"] {
            color: var(--color-gray-200);

            svg {
              stroke: var(--color-gray-200);
              
              path {
                stroke: var(--color-gray-200);
              }
            }

            &::before {
              width: 100%;
              left: 0;
              right: 0;
            }
          }
          
          h1 {
            font-size: use-clamp(20);
            margin-left: use-clamp(8);
          }

          &::before {
            content: "";
            width: 0;
    
            height: 2px;
            background: var(--color-gray-200);
            position: absolute;
            bottom: -0.5rem;
            right: 0;
            transition: width 600ms cubic-bezier(.25, 1, .5, 1);
          }

          position: relative;

          &:hover, &:focus {
            color: var(--color-gray-200);

            svg {
              stroke: var(--color-gray-200);
              
              path {
                stroke: var(--color-gray-200);
              }
            }

            &::before {
              width: 100%;
              left: 0;
              right: 0;
            }
          }
        } 
      }
    }
  }

  .title {
    grid-area: logo;

    a {
      display: flex;

      svg {
        width: 32px;
        height: 32px;
      }

      h1 {
        font-size: use-clamp(24);
        
        margin-left: 1rem;
        border-radius: 2px;

        position: relative;

        &::before {
          content: "";
          width: 0;
          height: 2px;
          background: var(--color-gray-100);

          position: absolute;
          bottom: 0;
          right: 0;
          transition: width 600ms cubic-bezier(.25, 1, .5, 1);
        }
        
        &:hover {
          &::before {
            width: 100%;
            left: 0;
            right: 0;
          }
        }
      }
    }
  }
}

.headerWrapper {
  width: 100%;

  display: grid;
  align-items: center;
  grid-area: wrapper;
  grid-template-areas:
    "logo nav ."
  ;
  grid-template-columns: 1fr 2fr 1fr;
}