@import "base";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: background 400ms;
}

html {
  width: 100vw;
  height: 100vh;

  /* REM */
  font-size: clamp(0.5rem, 0.3889rem + 0.8889vw, 1.5rem);
}

body {
  width: 100%;
  height: 100%;
  font-family: "Lexend", sans-serif;
}

#__next {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;

  &:focus {
    outline: 0;
    border: 0;

    svg {
      *:not(rect:first-of-type) {
        stroke: var(--accent);
      }

      &[data-icon="neo"] {
        *:not(rect) {
          stroke: none;
        }

        .x {
          fill: red;
        }
      }

      &[data-icon="computer"] {
        circle:last-child {
          stroke: transparent;
          fill: var(--accent);
        }
      }

      &[data-icon="facebook"] {
        *:not(rect) {
          stroke: var(--facebook);
        }
      }

      &[data-icon="twitter"] {
        *:not(rect) {
          stroke: var(--twitter);
        }
      }
  
      &[data-icon="instagram"] {
        :is(circle:last-child) {
          fill: var(--instagram) !important;
        }

        *:not(rect:first-child) {
          stroke: var(--instagram);
        }
      }
    }
  }
}