/* 
* Use All (Imports) Files From Animations To Here
*/
/* Box Sizing Rules, Removes Defaults Margins And Paddings*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Remove List Styles On UL, OL Elements With A List Role, Which Suggests Default Styling Will Be Removed */

/* Set Core Root Defaults */

/* Set Core Body Defaults */

/* A Elements That Don't Have A Class Get Default Styles */

/* Make Images Easier To Work With */

/* Inherit Fonts For Inputs And Buttons */

/* Remove All Animations, Transitions And Smooth Scroll For People That Prefer Not To See Them */
@media (prefers-reduced-motion: reduce) {

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --accent: 285;
  --gray: 200;
  --accent-100: hsl(var(--accent), 40%, 50%);
  --accent-200: hsl(var(--accent), 40%, 40%);
  --accent-300: hsl(var(--accent), 40%, 30%);
  --gray-100: hsl(200, 0%, 90%);
  --gray-200: hsl(200, 0%, 70%);
  --gray-500: hsl(200, 19%, 41%);
  --gray-600: hsl(200, 10%, 18%);
  --gray-700: hsl(200, 10%, 15%);
  --gray-800: hsl(200, 10%, 10%);
  --gray-900: hsl(200, 10%, 8%);
}

:root {
  --ff-bebas: "Bebas Neue", cursive;
  --ff-montserrat: "Montserrat", sans-serif;
  --ff-josefin: "Josefin Sans", sans-serif;
}

/* 
* Forwards All Files From Base To Here
*/
:root {
  /* Color Contrasts */
  --color-background: hsl(200, 10%, 10%);
  --color-header-footer: hsl(200, 10%, 8%);
  --color-contrast-lowest: hsl(200, 10%, 8%);
  --color-contrast-lower: hsl(200, 10%, 15%);
  --color-contrast-low: hsl(252, 4%, 25%);
  --color-contrast-medium: hsl(240, 1%, 55%);
  --color-contrast-high: hsl(200, 0%, 70%);
  --color-contrast-higher: hsl(200, 0%, 90%);
}

/* 
* Use All (Imports) Files From Themess To Here
*/
/* 
* Forwards All Files From Layout To Here
*/
/* 
* Forwards All Files From Pages To Here
*/
/* 
* Forwards All Files From Components To Here
*/
@keyframes rgb {
  100%, 0% {
    fill: red;
  }
  8% {
    fill: #ff7f00;
  }
  16% {
    fill: yellow;
  }
  24% {
    fill: chartreuse;
  }
  32% {
    fill: lime;
  }
  40% {
    fill: springgreen;
  }
  48% {
    fill: aqua;
  }
  56% {
    fill: #007fff;
  }
  64% {
    fill: blue;
  }
  72% {
    fill: #7f00ff;
  }
  80% {
    fill: fuchsia;
  }
  88% {
    fill: #ff007f;
  }
}
@keyframes rgbBackground {
  100%, 0% {
    background: red;
  }
  8% {
    background: #ff7f00;
  }
  16% {
    background: yellow;
  }
  24% {
    background: chartreuse;
  }
  32% {
    background: lime;
  }
  40% {
    border-top-color: springgreen;
  }
  48% {
    background: aqua;
  }
  56% {
    background: #007fff;
  }
  64% {
    background: blue;
  }
  72% {
    background: #7f00ff;
  }
  80% {
    background: fuchsia;
  }
  88% {
    background: #ff007f;
  }
}
@keyframes rgbBorder {
  100%, 0% {
    border-color: red;
  }
  8% {
    border-color: #ff7f00;
  }
  16% {
    border-color: yellow;
  }
  24% {
    border-color: chartreuse;
  }
  32% {
    border-color: lime;
  }
  40% {
    border-color: springgreen;
  }
  48% {
    border-color: aqua;
  }
  56% {
    border-color: #007fff;
  }
  64% {
    border-color: blue;
  }
  72% {
    border-color: #7f00ff;
  }
  80% {
    border-color: fuchsia;
  }
  88% {
    border-color: #ff007f;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(-50%);
  }
}
/* 
* Use All (Imports) Files From Animations To Here
*/

/*# sourceMappingURL=main.css.map */
