@import url("./animations/typewriter.css");

main {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: flex-start;
}

main #banner {
  display: flex;
  width: 100%;
  padding: 6rem 5rem;
  background-color: #5c2c6b;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.75);
}

main section#banner div.wrapper {
  font-family: 'Source Code Pro', monospace;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
}

main section#banner .static {
  font-size: 3rem;
  color: #fafafa;
  font-weight: 400;
}

main section#banner .dynamic {
  margin-left: 1.6rem;
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}

main section#banner .dynamic li {
  list-style: none;
  color: #FC6D6D;
  font-size: 3rem;
  font-weight: 500;
  position: relative;
  top: 0;
  animation: slide 20s steps(4) infinite;
}

main section#banner .dynamic li span {
  position: relative;
  margin: 5px 0;
  font-weight: 600;
  line-height: 90px;
}

main section#banner .dynamic li span::after {
  content: "";
  position: absolute;
  left: 0;
  top: 1px;
  height: 100%;
  width: 100%;
  background: #5c2c6b;
  border-left: 2px solid #fafafa;
  animation: typing 5s steps(21) infinite
}

main section#content{
  width: 100%;
  /* height: auto; */
  
  display: flex;
  text-align: left;
  justify-content: center;
  
  background-color: var(--bg-color);
}

main section#content p#about-us-text{
  /* margin-bottom: 4rem; */
  padding: 4rem 6rem;

  line-height: 2rem;
  font-size: 1.4rem;
  font-weight: 400;
  font-family: 'Source Code Pro', monospace;
}

