/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500&family=Source+Code+Pro:wght@300;400;500;600&family=Montserrat:wght@700&display=swap');

/* Themes */
@import url("./themes/light.css");
@import url("./themes/dark.css");
@import url("./themes/rgb.css");

/* Reposivity Styles */
@import url('./reponsivity.css');

/* Animations */
@import url('./animations/RGBBorder.css');
@import url('./animations/RGBFill.css');
@import url('./animations/dropdown.css');

/* Header and Footer Styles */
@import url('./layout.css');

:root {
  /* Top Colors */
  --header-bg: #2c2c2c;
  --body-bg: #1d1d1d;
  --nav-bg: #232323;
  --drop-bg: #000;
  
  /* Text Colors */
  --accent: hsl(285, 40%, 46%);
  --link: hsl(0, 0%, 98%);

  /* Bottom Colors */
  --footer-bg: hsl(0, 0%, 0%);
  
  /* Other */
  --spacing-4: 1.250rem;
  --xxl: 1rem;

  --gray-900: #0B0E11;
  --gray-600: #323D4D;
  --gray-500: rgb(80, 80, 80);
  --dropdown-animate: dropdown 0.2s forwards;

}

::-webkit-scrollbar {
  width: var(--spacing-4);
}

::-webkit-scrollbar-track {
  background: var(--gray-900);
}

::-webkit-scrollbar-thumb {
  border-radius: var(--xxl);
  border: 7px solid transparent;
  background-clip: content-box;
  background-color: var(--gray-500);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--accent);
  cursor: pointer;
}

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

:root {
  --transition: all 200ms;
}

html {
  width: 100vw;
  height: 100vh;
  scroll-behavior: smooth;
  scroll-padding: 25rem;
}

body {
  height: 100%;
  background-color: var(--body-bg);
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  color: white;
  font-weight: 700;
  font-size: 1.4rem;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.rgb path.toggle {
  fill: none;
  animation: rgb 4s infinite;
}

.rgb {
  animation: rgbBorder 4s infinite;
}

svg#gradient {
  position: absolute;
}

path {
  transition: all .2s ease;
}

svg {
  width: 3.125rem;
  height: 3.125rem;
  transition: .2s all;
}