@media (max-width: 1080px) {
  html {
    font-size: 87.5%; /* 14px */
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 75%; /* 12px */
  }
}

@media (min-width: 1200px) {
  main.about {
    height: 100%;
  }
}

@media (max-width: 800px) {
  html {
    font-size: 62.50%; /* 10px */
  }

  main banner {
    padding: 2rem 5rem;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 60%; /* 8px */
  }

  main section#banner div.static,
  main section#banner div.dynamic li span {
    font-size: 1.6rem;
  }

}

