@keyframes rgbBackground {
  100%,0%{
    background: rgb(255,0,0);
  }
  8%{
    background: rgb(255,127,0);
  }
  16%{
    background: rgb(255,255,0);
  }
  24%{
    background: rgb(127,255,0);
  }
  32%{
    background: rgb(0,255,0);
  }
  40%{
    border-top-color: rgb(0,255,127);
  }
  48%{
    background: rgb(0,255,255);
  }
  56%{
    background: rgb(0,127,255);
  }
  64%{
    background: rgb(0,0,255);
  }
  72%{
    background: rgb(127,0,255);
  }
  80%{
    background: rgb(255,0,255);
  }
  88%{
    background: rgb(255,0,127);
  }
}