.navbarContainer {
  width: 100%;
  border-bottom: var(--accent);
  background: var(--nav-bg);

  ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
  }
}

.navbarItem {
  position: relative;

  &:hover {
    .dropdownContainer {
      top: 0;
    }
  }
  
  a {
    padding: var(--spacing-7) var(--spacing-4);
    display: flex;
    font-weight: bold;
    align-items: center;
    color: var(--white);
    text-transform: uppercase;
    transition: var(--sm-transition);
    
    svg {
      width: 3.125rem;
      height: 3.125rem;
    }
  }

  &:hover, &:focus {
    a {
      color: var(--accent);

      svg {
        *:not(rect:first-of-type) {
          stroke: var(--accent);
        }
          
        :is(rect:last-child) {
          fill: var(--accent);
        }
      }
    }
  }

  /* stylelint-disable */
  &:nth-child(1) {
    svg {
      circle {
        fill: var(--white);
      }
    }

    &:hover, &:focus {
      svg {
        circle:last-child {
          stroke: transparent;
          fill: var(--accent);
        }
      }
    }
  }
  /* stylelint-enable */
}