@import url("./css/global/global.css");

/* 
######
HEADER
###### */
header {
  width: 100%;
  
  background: var(--gray-900);

  display: flex;

  justify-content: space-between;
  
  --header-padding: clamp(1rem, 1vw, 2rem);
  padding: var(--header-padding) clamp(1rem, 3vw, 4rem);

  border-bottom: 2px solid var(--accent-100);
}

header div {
  display: flex;

  gap: .5rem;
}

ul {
  font-size: clamp(0.7rem, 0.6100rem + 0.4500vw, 1.15rem);

  display: flex;
  align-items: center;
  
  gap: clamp(0.6em, 1vw, 2em);

  margin-top: .30rem;
}

/* Test */
nav ul li {
  width: 7rem;
  text-align: center;
}

nav img { 
  width: 5rem;
  height: auto;
}
/* ###### */

li a {
  position: relative;
}

li a:hover, 
li a:focus { 
  /* width: 100%;

  color: var(--gray-100);

  background: var(--accent-100);
  border-radius: .3rem;

  padding: .3rem; */

  color: var(--accent-100);
}
 
li a:focus::after {
  content: "";
  position: absolute;

  left: 50%;
  bottom: -0.5rem;
  transform: translateX(-100%);
  
  width: 1.25rem;
  height: clamp(0.08rem, 1vw, 0.15rem);
  
  background: var(--accent-100);
  border-radius: 0.2rem;

  animation: fadeIn 200ms forwards;
}

[data-logo] {
  /* --data-logo-margin: clamp(.5rem, 1vw, 2rem); */
  /* margin: 0 var(--data-logo-margin); */

  /* display: inline-block; */
  /* display: inline; */
}

[data-logo] svg {
  width: clamp(1rem, 2vw, 2rem);
}

a[data-logo]:hover svg path,
a[data-logo]:focus svg path {
  stroke: none;
}
/* 
######
######
###### */
/* 

######
MAIN
###### */
main { 
  font-size: 5rem;

  padding: 4rem;
}
/* 
######
######
###### */

