@use "sass:math";

$rem: 16;
$min-width: 270;
$max-width: 1920;

// Small tablets and large smartphones (landscape view)
$screen-sm: 270;

// Small tablets (portrait view)
$screen-md: 768;

// Tablets and small desktops
$screen-lg: 992;

// Large tablets and desktops
$screen-xl: 1200;
$breakpoints: (
  small: math.div($screen-sm, $rem),
  medium: math.div($screen-md, $rem),
  large: math.div($screen-lg, $rem),
  extra-large: math.div($screen-xl, $rem),
);
