$colors: (
  red: (
    100: hsl(0, 100%, 68%),
    200: hsl(0, 100%, 62%),
    300: hsl(0, 78%, 55%),
    500: hsl(360, 78%, 39%),
  ),
  green: (
    50: hsl(151, 68%, 80%),
    100: hsl(151, 68%, 54%),
    200: hsl(151, 94%, 39%),
    300: hsl(151, 94%, 26%),
  ),
  blue: (
    100: hsl(220, 82%, 65%),
    200: hsl(220, 100%, 49%),
    300: hsl(220, 100%, 38%),
  ),
  yellow: (
    100: hsl(48, 98%, 64%),
    200: hsl(48, 100%, 50%),
    300: hsl(48, 100%, 45%),
    500: hsl(48, 100%, 38%),
  ),
  accent: (
    50: hsl(280, 100%, 85%),
    100: hsl(280, 90%, 60%),
    200: hsl(280, 50%, 50%),
    300: hsl(280, 51%, 35%),
    400: hsl(280, 55%, 23%),
  ),
  gray: (
    100: hsl(227, 18%, 95%),
    200: hsl(227, 18%, 80%),
    400: hsl(227, 18%, 70%),
    500: hsl(227, 18%, 61%),
    600: hsl(227, 18%, 50%),
    700: hsl(227, 18%, 39%),
    800: hsl(227, 18%, 20%),
    900: hsl(227, 18%, 8%),
  ),
);
