main {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: flex-start;
}

#banner {
  
  width: 100%;
  height: auto;

  background: linear-gradient(-45deg, hsl(0, 0%, 0%), hsl(0, 0%, 10%), hsl(0, 0%, 15%), hsl(0, 0%, 20%));
  
  font-size: 1.2rem;
  box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.75);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* Waves Placements and Properties */
.spacer1, .spacer2, .layer1{
  display: flex;
  align-items: center;
  justify-content: center;
}

.spacer1{
  aspect-ratio: 900/300;
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-position:  bottom 5rem right 0px;
  background-size: cover;
}

.layer1{
  background-image: url('/packages/web/images/waves-top.svg');
 
}

.spacer2{
  aspect-ratio: 900/300;
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-position:  top 5rem right 0px;
  background-size: cover;
}

.layer2{
  background-image: url('/packages/web/images/waves-bottom.svg');

}

#layer3{
  aspect-ratio: 900/300;
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-position:  top 15rem right 0px;
  margin-bottom: clamp(-20rem, -90rem + 10vw, -30rem);
  background-size: cover;
}


#banner h1{
  font-size: clamp(0.5rem, -0.875rem + 8.333vw, 5rem);
  background: linear-gradient(-45deg, #ee7752, #d42f2f, #560cce, #e90677);
	background-size: 400% 400%;
  animation: gradient 15s ease infinite;
 -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

#content{
  width: 100%;
  height: auto; 
  
  display: flex;
  text-align: left;
  justify-content: center;
  flex-direction: column;
  
  padding: 5rem 20rem;
  
}

.about-titles{
  font-size: clamp(0.1rem, 1.3rem + 1vw, 1.7rem);
  margin: 1rem 0rem;
}

#about-us-text{
  margin-bottom: 1.5rem;
  font-size: 1.4rem;
  font-weight: 400;
  font-family: 'Source Code Pro', monospace;
} 



/* @import url("./animations/typewriter.css"); */
/* Typewriter Effect */
/* main section#banner div.wrapper {
  font-family: 'Source Code Pro', monospace;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
}

main section#banner .static {
  font-size: 3rem;
  color: #fafafa;
  font-weight: 400;
}

main section#banner .dynamic {
  margin-left: 1.6rem;
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}

main section#banner .dynamic li {
  list-style: none;
  color: #FC6D6D;
  font-size: 3rem;
  font-weight: 500;
  position: relative;
  top: 0;
  animation: slide 20s steps(4) infinite;
}

main section#banner .dynamic li span {
  position: relative;
  margin: 5px 0;
  font-weight: 600;
  line-height: 90px;
}

main section#banner .dynamic li span::after {
  content: "";
  position: absolute;
  left: 0;
  top: 1px;
  height: 100%;
  width: 100%;
  background: #5c2c6b;
  border-left: 2px solid #fafafa;
  animation: typing 5s steps(21) infinite
}
*/
