@media (max-width: 400px) {

  main section#content p#about-us-text{
    padding: 4rem 2rem;
    margin: 0rem 2rem;
  }
}

@media (max-width: 800px) {

  main section#content p#about-us-text{
    margin: 0rem 2rem;
    padding: 4rem 4rem;
  }
}