* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100vw;
  height: 100vh;
}

body {
  width: 100%;
  height: 100%;
}

#__next {
  width: 100%;
  height: 100%;
}

:root {
  --white: #fff;
  --accent: #8b46a3;
  --facebook: #4267b2;
  --twitter: #1da1f2;
  --instagram: url("#rgb");
}