svg {
  cursor: pointer;

  /* Selects every tag inside <svg> that is not a rect */
  *:not(rect:first-of-type) {
    stroke: var(--white);
    transition: var(--sm-transition);
  }

  /* special rule for neo logo */
  &[data-icon="neo"] {
    *:not(rect) {
      stroke: none;
    }
    
    &:hover {
      *:not(rect) {
        stroke: none;
      }
    }
  }

  &:hover, &:focus {
    *:not(rect:first-of-type) {
      stroke: var(--accent);
    }
  }
  
  /* special rules for social media icons */
  &[data-icon="facebook"] {
    &:hover {
      *:not(rect) {
        stroke: var(--facebook);
      }
    }
  }

  &[data-icon="twitter"] {
    &:hover {
      *:not(rect) {
        stroke: var(--twitter);
      }
    }
  }
  
  &[data-icon="instagram"] {
    *:not(rect:first-child) {
      stroke: var(--white);
    }
    
    :is(circle:last-child) {
      fill: var(--white);
    }

    &:hover {
      :is(circle:last-child) {
        fill: var(--instagram) !important;
      }

      *:not(rect:first-child) {
        stroke: var(--instagram);
      }
    }
  }
}
