/* stylelint-disable custom-property-empty-line-before */
[data-theme="dark"] {
  /* Body */
  --body-bg: #1d1d1d;
  
  /* Navbar */
  --menu-bg: #0d0d0d;
  --nav-bg: #232323;
  
  /* Global */
  --white: #b8b8b8;
  --accent: #8b46a3;

  /* scrollbar */
  --scrollbar-bg: rgb(80, 80, 80);
}