@use '../../abstracts/_mixins.scss' as *;

@include lg {
  .hamburger--header {
    display: none;
  }
}

.hamburger--header {
  position: fixed;
  z-index: 999;
  
  width: 100%;
  
  background: var(--color-header-footer);
  border-bottom: solid 2px var(--accent-100);
  
  &--items {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    margin: 0 1.75rem;
    margin-top: 1rem;
  }
  
}