:root {
  --accent: 285;
  --gray: 200;
 
  --accent-100: hsl(var(--accent), 40%, 50%);
  --accent-200: hsl(var(--accent), 40%, 40%);
  --accent-300: hsl(var(--accent), 40%, 30%);

  --gray-100: hsl(200, 0%, 90%);
  --gray-200: hsl(200, 0%, 70%);
  --gray-500: hsl(200, 19%, 41%);
  --gray-600: hsl(200, 10%, 18%);
  --gray-700: hsl(200, 10%, 15%);
  --gray-800: hsl(200, 10%, 10%);
  --gray-900: hsl(200, 10%, 8%);
}
