:root {
  --accent: 285;
  --gray: 200;
 
  --accent-100: hsl(var(--accent), 40%, 50%);
  --accent-200: hsl(var(--accent), 40%, 40%);
  --accent-300: hsl(var(--accent), 40%, 30%);

  --gray-100: hsl(var(--gray), 0%, 90%);
  --gray-200: hsl(var(--gray), 0%, 70%);
  --gray-500: hsl(var(--gray), 19%, 41%);
  --gray-600: hsl(var(--gray), 10%, 18%);
  --gray-700: hsl(var(--gray), 10%, 15%);
  --gray-800: hsl(var(--gray), 10%, 10%);
  --gray-900: hsl(var(--gray), 10%, 8%);
}
