// * Source: https://piccalil.li/blog/a-modern-css-reset/
/* Box Sizing Rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove Default Margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove List Styles On UL, OL Elements With A List Role, Which Suggests Default Styling Will Be Removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set Core Root Defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set Core Body Defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A Elements That Don't Have A Class Get Default Styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make Images Easier To Work With */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit Fonts For Inputs And Buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove All Animations, Transitions And Smooth Scroll For People That Prefer Not To See Them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
