:root {
  --ff-bebas: 'Bebas Neue', cursive;
  --ff-montserrat: 'Montserrat', sans-serif;
  --ff-josefin: 'Josefin Sans', sans-serif;
}

h1,
h2,
h3 {
  font-weight: 700;
  color: var(--gray-100);
}

h1 {
  font-family: var(--ff-bebas);
}

h2,
h3 {
  font-family: var(--ff-montserrat);
}

li,
a,
p,
small {
  color: var(--gray-200);
  font-family: var(--ff-josefin);
}
