.container {
  width: 100%;
  background: var(--header-top-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.menu {
  width: 100%;
  display: grid;
  grid-template-areas:
      "social logo user"
  ;
  // grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-columns: 1fr 2fr 1fr;

  /* aligns all div's content to center */
  div {
    display: flex;
    align-items: center;
    justify-content: center;

    /* access every div that is NOT the logo div */
    &:not(.logo) {
      /* get the middle svg icon */
      a:nth-child(even) {
        margin: 0 1rem;
      }
    }
  }

  .social {
    grid-area: social;
  }

  .logo {
    grid-area: logo;
  }

  .user {
    grid-area: user;
  }
}