/* Main section client support properties */
#client-support{
    width: 90%;
    
    margin-top: 1.5rem;
    padding-bottom: 5rem;
    
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* Double card property */
.double-card{
    width: 100%;
    background: var(--dark-750);
    box-shadow: 0px 3px 8px var(--dark-900);
    
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* First section properties */
.faq-and-terms{
    margin-top: 0.8rem;
    margin-bottom: 2rem;
    
    font-size: clamp(1.6rem, 4vw, 3rem);
    text-shadow: 3px 4px 10px var(--dark-900);
    border-bottom: 3px solid var(--accent);
}

.collapsible {
    width: 80%;
    background-color: var(--accent);
    box-shadow: 0px 3px 8px var(--dark-900);
    color: white;
    
    font-size: clamp(.8rem, 5vw, 1.7rem);
    padding: 1.2rem 1rem;
    cursor: pointer;
    
    border: none;
    text-align: left;
    outline: none;
    
}

.active, .collapsible:hover,
.active, .collapsible:focus  {
    background-color: #8c46a3cc;
}

.collapsible:after {
    content: '\002B';
    color: var(--light-100);
    font-weight: normal;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.content {
    width: 80%;
    background-color: var(--dark-750);
    box-shadow: 0px 3px 8px var(--dark-900);
    
    font-size: clamp(0.9rem, 2vw, 1rem);
    font-weight: 400;
    line-height: 1.8rem;
    
    padding: 0rem 1rem;
    margin-bottom: 0.8rem;
    max-height: 0;
    
    transition: max-height 0.2s ease-out;
    overflow: hidden;
    
}

.content p{
    font-family: (--ff-josefin-sans);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.content a{
    color: var(--accent);
    text-decoration: none;
}

.content a:hover{
    color: #8c46a3cc;
}

/* Second section properties*/
.double-card h1.client-h1{
    padding-top: 0.8rem;
    margin-bottom: 1rem;
    
    font-size: clamp(1.4rem, 5vw, 2.5rem);
    text-shadow: 3px 4px 10px var(--dark-900);
    border-bottom: 3px solid var(--accent);
}

.double-card h2.client-h2{
    padding-bottom: 0.5rem;
    
    font-size: clamp(1.6rem, 5vw, 2.5rem);
    text-shadow: 3px 4px 10px var(--dark-900);
}

.double-card h3.client-h3{
    padding-bottom: 1rem;
    
    font-size: clamp(1.5rem, 5vw, 1.8rem);
    text-shadow: 3px 4px 10px var(--dark-900);
    
}

.double-card h3.client-h3 span.span-purple{
    color: var(--accent);
}