@import './base/reset';
@import './base';
@import './abstracts';
@import './mixins';

body {
  background:  var(--color-gray-900);
}

main {
  height: 100%;
  margin: auto;
  padding: 0 1.15rem;
  
  @include use-media(medium) {
    max-width: 80vw;
  }
}
