/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500&family=Source+Sans+Pro:ital,wght@0,400;1,300;1,400&family=Source+Code+Pro:wght@300;400;500;600&family=Cormorant+Garamond:wght@400;500&family=Montserrat:wght@700&display=swap');

/* Themes */
@import url("../../css/themes/light.css");
@import url("../../css/themes/dark.css");
@import url("../../css/themes/rgb.css");


/* Animations */
@import url('../animations/gradient.css');
@import url('../animations/RGBBorder.css');
@import url('../animations/RGBFill.css');
@import url('../animations/dropdown.css');

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500&family=Source+Sans+Pro:ital,wght@0,400;1,300;1,400&family=Source+Code+Pro:wght@300;400;500;600&family=Cormorant+Garamond:wght@400;500&family=Montserrat:wght@300;400;700&display=swap');

:root {
  /* Main Colors */
  --header-bg: #2c2c2c;
  --body-bg: #1d1d1d;
  --nav-bg: #232323;
  --drop-bg: #000;
  
  /* General Colors */
  --dark-900: hsl(0, 0%, 0%);
  --dark-800: hsl(0, 0%, 10%);
  --dark-750: hsl(0, 0%, 15%);
  --dark-700: hsl(0, 0%, 20%);
  
  --light-100: hsl(100, 100%, 100%);
  
  --gray-900: #0B0E11;
  --gray-600: #323D4D;
  --gray-500: rgb(80, 80, 80);
  
  --accent: hsl(285, 40%, 46%);
  --link: hsl(0, 0%, 98%);
  --paragraph: clamp(0.9rem, -0.1rem + 1.6013vw, 1.5rem);
  
  /* Font Families */
  --ff-montserrat: 'Montserrat', sans-serif;
  --ff-josefin-sans: 'Josefin Sans', sans-serif;
  --ff-source-code-pro: 'Source Code Pro', monospace;
  --ff-source-sans-pro: 'Source Sans Pro', sans-serif;
  --ff-cormorant-garamond: 'Cormorant Garamond', serif;
  
  /* Other */
  --spacing-4: 1.250rem;
  --xxl: 1rem;
  
  --dropdown-animate: dropdown 0.2s forwards;
  
  --transition: all 200ms;
  
}

::selection{
  color: var(--accent);
  background:hsl(285, 40%, 60%)
}

::-webkit-selection{
  color: var(--accent);
  background:hsl(285, 37%, 60%)
}

::-webkit-scrollbar {
  width: var(--spacing-4);
}

::-webkit-scrollbar-track {
  background: var(--gray-900);
}

::-webkit-scrollbar-thumb {
  border-radius: var(--xxl);
  border: 7px solid transparent;
  background-clip: content-box;
  background-color: var(--gray-500);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--accent);
  cursor: pointer;
}

/* Global Styles */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: none; */
}

html{
  scroll-behavior: smooth;
  /* scroll-padding: 25rem; */
}

body{
  min-height: 100vh;

  font-family: var(--ff-montserrat);
  font-size: 1.4rem;
  font-weight: 700;

  background-color: var(--body-bg);
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  color: white;
 
}

ul{
  list-style: none;
  list-style-type: none;
}

a{
  outline: 0;
  text-decoration: none;
}

path{
  transition: all .2s ease;
}

svg{
  flex-shrink: 0;

  width: 3.125rem;
  height: 3.125rem;
  transition: .2s all;
}

/* svg#gradient{
  position: absolute;
} */

main{
  display: flex;
  align-items: center;
  justify-content: center;
}

#x:focus,
#x:hover{
  animation: rgb 4s infinite;
}

/* .rgb{
  animation: rgbBorder 4s infinite;
}
.rgb path.toggle{
  fill: none;
  animation: rgb 4s infinite;
} */


