/* Animations */
@import url('../animations/RGBBorder.css');
@import url('../animations/RGBFill.css');
@import url('../animations/FadeIn.css');

@import url('./reset.css');
@import url('../fonts/fonts.css');
@import url('../colors/colors.css');

@import url('../components/footer.css');

[data-reset] {
  padding: 0;
  margin: 0;

  color: inherit;
  background: transparent;

  display: grid;
  place-items: center;
}

a, button {
  transition: all 200ms;
  cursor: pointer;
}

:root {
  --dropdown-animate: dropdown 0.2s forwards;

  --transition: all 200ms;
}

::selection {
  color: var(--accent);
  background: hsl(285, 40%, 60%);
}

::-webkit-selection {
  color: var(--accent);
  background: hsl(285, 37%, 60%);
}

::-webkit-scrollbar {
  width: .5rem;
}

::-webkit-scrollbar-track {
  background: var(--gray-900);
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  border: 7px solid transparent;
  background-clip: content-box;
  background-color: var(--gray-500);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--accent);
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100%;

  display: flex;
  flex-direction: column;
  
  background-color: var(--gray-800);
}

ul {
  list-style: none;
  list-style-type: none;
}

a {
  outline: 0;
  text-decoration: none;
}

path {
  transition: all 0.2s ease;
}

svg {
  width: clamp(1rem, 2vw, 2.5rem);
  height: auto;

  transition: all 0.2s ease;
}

a:not([data-logo]) svg path,
button svg path {
  stroke: var(--gray-200);
}

a:hover svg path,
a:focus svg path,
button:hover svg path,
button:focus svg path {
  stroke: var(--accent-100);
}