/* Animations */
@import url('../animations/RGBBorder.css');
@import url('../animations/RGBFill.css');
@import url('../animations/FadeIn.css');

@import url('./reset.css');
@import url('../fonts/fonts.css');
@import url('../colors/colors.css');


[data-reset] {
  padding: 0;
  margin: 0;

  color: inherit;
  background: transparent;

  display: grid;
  place-items: center;
}

a, button {
  transition: all 200ms;
  cursor: pointer;
}

:root {
  --dropdown-animate: dropdown 0.2s forwards;

  --transition: all 200ms;
}

::selection {
  color: var(--accent);
  background: hsl(285, 40%, 60%);
}

::-webkit-selection {
  color: var(--accent);
  background: hsl(285, 37%, 60%);
}

::-webkit-scrollbar {
  width: var(--spacing-4);
}

::-webkit-scrollbar-track {
  background: var(--gray-900);
}

::-webkit-scrollbar-thumb {
  border-radius: var(--xxl);
  border: 7px solid transparent;
  background-clip: content-box;
  background-color: var(--gray-500);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--accent);
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--gray-800);
}

ul {
  list-style: none;
  list-style-type: none;
}

a {
  outline: 0;
  text-decoration: none;
}

path {
  transition: all 0.2s ease;
}

svg {
  flex-shrink: 0;

  width: 3.125rem;
  height: 3.125rem;
  transition: 0.2s all;
}

/* svg#gradient{
  position: absolute;
} */

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

#x:focus,
#x:hover {
  animation: rgb 4s infinite;
}

/* .rgb{
  animation: rgbBorder 4s infinite;
}
.rgb path.toggle{
  fill: none;
  animation: rgb 4s infinite;
} */
