@import url("./themes/light.css");
@import url("./themes/dark.css");

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  width: 100vw;
  height: 100vh;
}

body {
  background-color: var(--body-bg);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  color: white;
  font-weight: 500;
  font-size: 1.4rem;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

.rgb path.toggle {
  fill: none;
  animation: rgb 4s infinite;
}

.rgb {
  animation: rgbBorder 4s infinite;
}

path {
  transition: all .2s ease;
}