@import url("./themes/light.css");
@import url("./themes/dark.css");
@import url("./themes/rgb.css");

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

:root {
  --transition: all 200ms;
}

html {
  width: 100vw;
  height: 100vh;
}

body {
  background-color: var(--body-bg);
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  color: white;
  font-weight: 500;
  font-size: 1.4rem;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.rgb path.toggle {
  fill: none;
  animation: rgb 4s infinite;
}

.rgb {
  animation: rgbBorder 4s infinite;
}

svg#gradient {
  position: absolute;
  left: -10000;
}

path {
  transition: all .2s ease;
}

svg {
  width: 3.125rem;
  height: 3.125rem;
  transition: .2s all;
}