@media (max-width: 1080px) {
  html {
    font-size: 87.5%; /* 14px */
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 75%; /* 12px */
  }
}

@media (max-width: 768px) {
  html {
    font-size: 62.50%; /* 10px */
  }
}

@media (max-width: 600px) {
  html {
    font-size: 50%; /* 8px */
  }
}