@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

/* Global Styles / Themes */
@import url("./global.css");

/* Reposivity Styles */
@import url("./reponsivity.css");

/* Animations */
@import url("./animations/RGBBorder.css");
@import url("./animations/RGBFill.css");


/* Header Styles */
header {
  width: 100%;
}

header #menu {
  width: 100%;
  background-color: var(--header-bg);
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}

header #menu div {
  display: flex;

  align-items: center;
  justify-content: space-between;
}

/* Add spacing between icons in menu */
header #menu div a:nth-child(2) {
  margin: 0 1rem;
}

/* Hover effect for all svg in header */
header #menu div a:focus svg path {
  stroke: #8B46A3;
}

/* Custom hover effect */
header #menu div a:focus svg#instagram path,
header #menu div a:hover svg#instagram path {
  stroke: url("#rgb");
}

/* Custom Facebook hover */
header #menu div a:focus svg#facebook path,
header #menu div a:hover svg#facebook path {
  stroke: #4267B2;
}

/* Custom Twitter hover */
header #menu div a:focus svg#twitter path,
header #menu div a:hover svg#twitter path {
  stroke: #1DA1F2;
}

/* Logo position */
#logo a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* Remove purple outline from EVO logo */
header #menu #logo a:focus svg path {
  stroke: none
}

/* Makes RGB in EVO logo */
header #menu #logo a:focus svg path.toggle {
  stroke: none;
  animation: rgb 4s infinite;
}

/* Navbar */
header nav {
  background-color: var(--nav-bg);
  
  border-bottom: solid 5px #8B46A3;
}

header nav a {
  /* add padding to make dropdown larger */
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  color: var(--link);
  text-transform: uppercase;
  transition: all .2s ease;
}

/* add purple color to link when focused */
header nav a:hover,
header nav a:hover svg path,
header nav a:focus,
header nav a:focus svg path {
  stroke: var(--accent);
  color: var(--accent);
  cursor: pointer;
}

/* Navbar list */
header nav #nav__list {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

/* All dropdowns */
header nav #nav__list ul {
  width: 100%;
}

/* Navbar list items */
header nav #nav__list li {
  position: relative;
}

/* First dropdown element */
.nav__itemdrop {
  display: flex;
  flex-direction: column;
  position: absolute;
  background: var(--body-bg);
  border-top: 5px solid var(--accent);
}

/* List items inside first dropdown */
.nav__itemdrop li {
  display: none;
  position: absolute;
  position: relative;
  top: 0px;
}

/* Border on the last list item of the first dropdown */
.nav__itemdrop li:last-child {
  border-bottom: solid 5px var(--accent);
}

.nav__itemdrop li a {
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0.5rem;
  padding: 0.5rem;
  display: flex;
  text-align: left;
  justify-content: start;
}

/* Show first dropdown on hover */
header nav #nav__list li:hover .nav__itemdrop > li,
header nav #nav__list li:focus-within .nav__itemdrop > li {
  display: block;
  flex-direction: column;
  top: 0px;
}

/* Second/Third dropdown element */
.nav__itemdrop2,
.nav__itemdrop3 {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0px;
  left: 100%;
  background: var(--drop-bg);
}

/* Second dropdown list items */
.nav__itemdrop2 li {
  display: none;
}

/* Show second dropdown on hover */
.nav__itemdrop li:hover .nav__itemdrop2 li,
.nav__itemdrop li:focus-within .nav__itemdrop2 li {
  display: block;
}

/* Third dropdown */
.nav__itemdrop3 {
  display: none;
}

.nav__itemdrop2 li:hover .nav__itemdrop3,
.nav__itemdrop2 li:focus-within .nav__itemdrop3 {
  display: flex;
}