/* Global Styles / Themes */
@import url("./global.css");

/* Reposivity Styles */
@import url("./reponsivity.css");

/* Animations */
@import url("./animations/RGBBorder.css");
@import url("./animations/RGBFill.css");
@import url("./animations/dropdown.css");

#x {
  fill: var(--accent);
}

/* Header Styles */
header {
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header #menu {
  width: 100%;
  background-color: var(--header-bg);
  display: flex;
  justify-content: space-around;
  padding: 0.6rem;
}

header #menu div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Hamburger menu */
header #menu div#hamburger {
  display: none;
  position: relative;
}

header #menu #hamburger {
  z-index: 1;
  user-select: none;
}

header #menu #hamburger menu {
  display: flex;
  flex-direction: column;

  justify-content: center;
  cursor: pointer;
  position: relative;

  padding: 0.6rem;
}

/* Invisible checkbox on top of hamburger  */
header #menu #hamburger input {
  display: block;
  width: 5rem;
  height: 5rem;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  align-self: center;
  z-index: 2;
}

/* Hamburger menu elements */
header #menu #hamburger span {
  display: block;
  width: 3rem;
  height: 4px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: var(--transition);
}

/* Middle hamburger margin */
header #menu #hamburger span:nth-child(3) {
  margin: 0.5rem 0;
}

header #menu #hamburger menu:hover span:nth-child(4) {
  transition: width 0.6s;
}

/* Hamburger menu animation on hover */
header #menu #hamburger menu:hover span:nth-child(2) {
  width: 2.2rem;
}

header #menu #hamburger menu:hover span:nth-child(4) {
  width: 1.6rem;
}

/* Makes top burger go to middle */
header #menu #hamburger input:checked ~ span:nth-child(2) {
  transform: translate(0, 8px);
  height: 1px;
}

/* Makes bottom burger go to middle */
header #menu #hamburger input:checked ~ span:nth-child(4) {
  transform: translate(0, -8px);
  height: 1px;
}

/* Sidebar */
header #menu #hamburger menu ul {
  transform: translate(-150%, 60%);
  width: 150px;
  transition: var(--transition);
  position: absolute;
  background: var(--header-bg);
  border-radius: 0.2rem; 
}

header #menu #hamburger menu ul li {
  padding: 1rem 2rem;
}

header #menu #hamburger menu ul li:hover a,
header #menu #hamburger menu ul li:hover svg path {
  color: var(--accent);
  stroke: var(--accent)
}

header #menu #hamburger menu ul li a {
  color: var(--link);
  display: flex;
  align-items: center;
  justify-content: start;
  transition: var(--transition);
}

header #menu #hamburger menu input:checked ~ ul {
  transform: translate(0%, 60%);
}

/* Hover effect for all svg in header */
header #menu div a:focus svg path {
  stroke: var(--accent);
}

/* Custom hover effect */
header #menu div a:focus svg#instagram path,
header #menu div a:hover svg#instagram path {
  stroke: url("#rgb");
}

/* Custom Facebook hover */
header #menu div a:focus svg#facebook path,
header #menu div a:hover svg#facebook path {
  stroke: #4267B2;
}

/* Custom Twitter hover */
header #menu div a:focus svg#twitter path,
header #menu div a:hover svg#twitter path {
  stroke: #1DA1F2;
}

/* Logo position */
header #menu #logo a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

header #menu #logo svg {
  width: 18rem;
  height: 6rem;
}

/* Remove purple outline from EVO logo */
header #menu #logo a:focus svg path {
  stroke: none
}

/* Navbar */
header nav {
  position: sticky;
  background-color: var(--nav);
  
  border-bottom: solid 5px var(--accent);
}

header nav a {
  /* Add padding to make dropdown larger */
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  color: var(--link);
  text-transform: uppercase;
  transition: var(--transition);
}

/* Add purple color to link when focused */
header nav a:hover,
header nav a:hover svg path,
header nav a:focus,
header nav a:focus svg path {
  stroke: var(--accent);
  color: var(--accent);
  cursor: pointer;
}

/* Navbar list */
header nav #nav__list {
  display: flex;
  justify-content: space-around;
}

/* All dropdowns */
header nav #nav__list ul {
  width: 100%;
}

/* Navbar list items */
header nav #nav__list li {
  position: relative;
}

/* First dropdown element */
.nav__itemdrop {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: -900px;
  background: var(--drop-bg);
  opacity: 0;
}

ul.rgb {
  animation: rgbBorder 4s infinite !important;
}

/* List items inside first dropdown */
.nav__itemdrop li {
  position: absolute;
  position: relative;
  top: 0px;
}

/* Put border top on top of the last two dropdown children */
.nav__itemdrop li:not(:first-child) ul {
  border-top: 5px solid var(--accent);
}


/* Border on the last list item of the first dropdown */
.nav__itemdrop li:last-child {
  border-bottom: solid 5px var(--accent);
}

.nav__itemdrop li a {
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0.5rem;
  padding: 0.5rem;
  display: flex;
  text-align: left;
  justify-content: start;
}

/* Show first dropdown on hover */
header nav #nav__list li:hover .nav__itemdrop,
header nav #nav__list li:focus-within .nav__itemdrop {
  top: auto;
  animation: dropdown 0.2s forwards;
}

/* Second/Third dropdown element */
.nav__itemdrop2,
.nav__itemdrop3 {
  display: flex;
  flex-direction: column;
  position: absolute;
  /* Puts dropdown outside screen */
  top: -900px;
  left: 100%;
  background: var(--drop-bg);
  opacity: 0;
}

/* Show second dropdown on hover */
.nav__itemdrop li:hover .nav__itemdrop2,
.nav__itemdrop li:focus-within .nav__itemdrop2 {
  /* Brings dropdowns back to screen */
  top: 0px;
  animation: dropdown 0.2s forwards;
}

.nav__itemdrop2 li:hover .nav__itemdrop3,
.nav__itemdrop2 li:focus-within .nav__itemdrop3 {
  /* Brings dropdowns back to screen */
  top: 0px;
  animation: dropdown 0.2s forwards;
}

.nav__itemdrop li:not(:first-child) .nav__itemdrop2 li:hover ul.nav__itemdrop3,
.nav__itemdrop li:not(:first-child) .nav__itemdrop2 li:focus-within ul.nav__itemdrop3 {
  top: -4px;
}

/* Footer */
footer {
  position: relative;
  width: 100%;
  background: var(--footer-bg);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-top: 5px solid var(--accent);
  transition: var(--transition);
}

/* Footer logo properties */
footer #footer-body section.logo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Footer logo sizing */
footer section.logo svg {
  width: 18rem;
  height: 6rem;
}

/* Footer content */
footer #footer-body {
  display: flex;
  justify-content: space-between;
  flex-direction:  row;
  flex-wrap: wrap;
  padding: 1rem 2rem;
}

/* Padding properties for everything that is not a icon */
#footer-body section:not(.icons) {
  padding: 1rem 5rem;
}

/* Paragraph characterisctics */
footer #footer-body section.about-us p {
  font-size: 1rem;
  max-width: 60rem;
  line-height: 1.6rem;
  transition: var(--transition);
}

/* Header 2 characteristics */
footer #footer-body section h2 {
  position: relative;
  color: var(--accent);
  font-weight: 300;
  font-size: 1.7rem;
  margin-bottom: 15px;
  transition: var(--transition);
}

/* Make all section with a h2 inside to have purple underline */
footer #footer-body section h2:before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px;
  background: var(--accent);
}

footer section #social-media-footer {
  display: flex;
  padding: 1.2rem 0;
}

/* Middle icon */
footer #footer-body section #social-media-footer li:nth-child(2) {
  margin: 0 0.5rem;
}

footer #footer-body section #social-media-footer li a {
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.6rem;
  padding: 0.4rem;
  background-color: var(--body-bg); 
}

footer #footer-body section #social-media-footer li a svg {
  width: 2.5rem;
  height: 2.5rem;
  transition: var(--transition);
}

/* Change svg color on list item hover */
footer #footer-body section #social-media-footer li a:hover svg path, 
footer #footer-body section #social-media-footer li a:focus svg path {
  stroke: var(--accent);
}

/* Quick links position */
footer #footer-body section#quick-links{
  position: relative;
}

/* Quick links styles */
footer #footer-body section#quick-links ul li a{
  color: var(--link);
  text-decoration: none;
  transition: var(--transition);
}

/* Quick links hover effects */
footer #footer-body section#quick-links ul li:hover a,
footer #footer-body section#quick-links ul li:focus-within a {
  color: var(--accent)
}


/* Copyright text properties */
footer #copyrightText { 
  width: 100%;
  text-align: center;
  font-size: 0.9rem;
  background: var(--body-bg);
  padding: 0.5rem 0;
  color: rgb(255, 255, 255);
}