/* Header */
.header{
  height: auto;
  
  background: var(--dark-900); 
  
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* flex-direction: column; */
  
  z-index: 1;
}

.social-icons{
  display: flex;
  flex-direction: row;
}

.facebook-anchor:hover .facebook-icon path{
  stroke: var(--accent);
}

.instagram-anchor:hover .instagram-icon path{
  stroke: var(--accent);
}

.twitter-anchor:hover .twitter-icon path{
  stroke: var(--accent);
}

/* ### */
/* ### */
.header-svg{
  width: 12em;
  height: 6em;
  
  margin-top: 0.25em;
}
/* ### */
/* ### */

/* ### */
/* ### */
.user-controls{
  display: flex;
  flex-direction: row;
}

.search-anchor:hover .search-icon path{
  stroke: var(--accent);
}

.user-anchor:hover .user-icon path{
  stroke: var(--accent);
}

.cart-anchor:hover .cart-icon path{
  stroke: var(--accent);
}
/* #### */
/* ### */

.nav{
  background: var(--nav-bg);
  
  border-bottom: 5px solid var(--accent);
}

.nav a{
  font-family: var(--ff-montserrat);
  font-size: var(--paragraph);
  font-weight: 400;
  text-transform: uppercase;
  
  color: var(--link);
  
  transition: var(--transition);
  
  display: flex;
  align-items: center;
  
  padding: 1rem 2rem;
}

nav a:hover,
nav a:hover svg path,
nav a:focus,
nav a:focus svg path{
  color: var(--accent);
  stroke: var(--accent);
  
  transition: var(--transition);
  
  cursor: pointer;
}

.nav-unordered-list{
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
}

.nav-unordered-list ul{
  width: 100%;
}
.nav-unordered-list li{
  position: relative;
}

.nav-unordered-list li:hover .nav__itemdrop,
.nav-unordered-list li:focus-within .nav__itemdrop{
  top: auto;
  animation: dropdown 0.2s forwards;
}

.nav__itemdrop li:not(:first-child) ul {
  border-top: 5px solid var(--accent);
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  
}

.nav__itemdrop li:last-child {
  border-bottom: 5px solid var(--accent);
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  
}

.nav-item-drop_1 li a {
  font-size: 1.3rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;

  display: flex;
  text-align: left;
  justify-content: start;

  margin: 0.5rem;
  padding: 0.5rem;
}





/* ### */
/* ### */
.main-section{
  padding: 6em 1em;
}

.section-title{
  font-size: clamp(1.5em, 2vw, 2.5em);
  font-family: var(--ff-josefin-sans);
  font-weight: 400;
  
  margin: 0.25em 0em;
}

.section-paragraph{
  font-size: clamp(1em, 2vw, 1.35em);
  font-family: var(--ff-josefin-sans);
  font-weight: 300;
}
/* ### */
/* ### */

.nav__itemdrop {
  background: var(--drop-bg);
  
  position: absolute;
  top: -900px;
  
  display: flex;
  flex-direction: column;
  
  opacity: 0;
  
  border-top: 5px solid var(--accent);
}







.nav__itemdrop2,
.nav__itemdrop3 {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: -900px;
  left: 100%;
  background: var(--drop-bg);
  opacity: 0;
}

.nav__itemdrop li:hover .nav__itemdrop2,
.nav__itemdrop li:focus-within .nav__itemdrop2 {
  top: 0;
  opacity: 1;
  animation: dropdown 0.2s forwards;
}

.nav__itemdrop2 li:hover .nav__itemdrop3,
.nav__itemdrop2 li:focus-within .nav__itemdrop3 {
  top: 0px;
  animation: dropdown 0.2s forwards;
}

nav .nav__itemdrop li:not(:first-child) .nav__itemdrop2 li:hover ul.nav__itemdrop3,
nav .nav__itemdrop li:not(:first-child) .nav__itemdrop2 li:focus-within ul.nav__itemdrop3 {
  top: -10%;
  animation: dropdown 0.2s forwards;
}


@keyframes dropdown { 
  0% {
    opacity: 0;
    transform: translate(0, -10%);
  }
  99% {
    opacity: 1;
    transform: none;
  }
  
  100% {
    opacity: 1;
    transform: none;
  }
}


/* Footer */
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

svg {
  width: 3.125rem;
  height: 3.125rem;
  transition: .2s all;
}

svg#gradient {
  position: absolute;
}

footer {
  /* width: 100%; */
  position: relative;
  
  background: var(--footer-bg);
  
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  
  border-top: 5px solid var(--accent);
  transition: var(--transition);
}

.base-section h2 {
  color: blue;
}
#footer-body {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1rem 2rem;
  
  font-weight: 300;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5rem;
}

#footer-body .logo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo svg {
  width: 15rem;
  height: 7rem;
}

#footer-body section:not(.icons) {
  padding: 1rem 5rem;
}

.about-us p {
  max-width: 45rem;
  line-height: 1.6rem;
  text-overflow: clip;
  transition: var(--transition);
}

#footer-body h2 {
  position: relative;
  color: blue;
  color: var(--accent);
  font-weight: 500;
  font-size: 2rem;
  margin-bottom: 15px;
  transition: var(--transition);
}

#footer-body h2:before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px;
  background: var(--accent);
}

#social-media-footer {
  display: flex;
}

#social-media-footer li:nth-child(2) {
  margin: 0 0.5rem;
}

#social-media-footer li a:hover svg path,
#social-media-footer li a:focus svg path {
  stroke: var(--accent);
}

#footer-body .contact {
  line-height: 2.5rem;
}

.contact ul li a {
  color: var(--link);
  text-decoration: none;
  
  transition: var(--transition);
}

.contact ul li:hover a,
.contact ul li:focus-within a {
  color: var(--accent);
}

section ul {
  padding: 0;
}

.contact .info {
  position: relative;
}

.contact .info li {
  display: flex;
  
  flex-direction: column;
}

#quick-links {
  position: relative;
  line-height: 2.5rem;
}

#quick-links ul li a {
  color: var(--link);
  text-decoration: none;
  
  transition: var(--transition);
}

#quick-links ul li:hover a,
#quick-links ul li:focus-within a {
  color: var(--accent);
}

#copyright {
  border-top: 1px solid #fff;
  margin-top: 1rem;
  padding-top: 1rem;
  width: 100%;
  background-color: black;
  color: rgb(255, 255, 255);
  
  padding: 0.5rem 0;
  
  text-align: center;
  font-weight: 400;
  font-size: 1rem;
  font-family: 'Josefin Sans', sans-serif;
}

@media (max-width: 1700px){
  footer #footer-body{
    flex-direction: column;
  }
}

@media (max-width: 400px) {
  #footer-body section:not(.icons) {
    padding: 0;
  }
  
  footer #footer-body {
    justify-content: space-between; 
    align-items: start;
  }
}

/* @container (max-width: 1900px) {
  flex-direction: column;
} */

@keyframes rgbBorder {
  100%,
  0% {
    border-color: rgb(255, 0, 0);
  }
  8% {
    border-color: rgb(255, 127, 0);
  }
  16% {
    border-color: rgb(255, 255, 0);
  }
  24% {
    border-color: rgb(127, 255, 0);
  }
  32% {
    border-color: rgb(0, 255, 0);
  }
  40% {
    border-color: rgb(0, 255, 127);
  }
  48% {
    border-color: rgb(0, 255, 255);
  }
  56% {
    border-color: rgb(0, 127, 255);
  }
  64% {
    border-color: rgb(0, 0, 255);
  }
  72% {
    border-color: rgb(127, 0, 255);
  }
  80% {
    border-color: rgb(255, 0, 255);
  }
  88% {
    border-color: rgb(255, 0, 127);
  }
}
