/* ### */
/* ### */
.main-section{
  padding: 10em 4em;
}

.section-title{
  font-size: clamp(1.5em, 2vw, 2.5em);
  font-family: var(--ff-josefin-sans);
  font-weight: 400;
  
  margin: 0.25em 0em;
}

.section-paragraph{
  font-size: clamp(1em, 2vw, 1.35em);
  font-family: var(--ff-josefin-sans);
  font-weight: 300;
}
/* ### */
/* ### */