@media (max-width: 400px) {
  .footer-wrap{
    justify-content: space-between; 
    align-items: start;
  }
} 

@media (max-width: 768px){
  .footer-logo-svg{
    width: 10.5em;
    height: 5em;
  }
}

@media (max-width: 1450px) {
  .footer-wrap{
    flex-direction: column;
  }
}