.margin-right {
  margin-right: 1rem;
}

.margin-left {
  margin-left: 1rem;
}

.margin-left-auto {
  margin-left: auto;
}

.margin-bottom-auto {
  margin-bottom: auto;
}

.grid-center {
  display: grid;
  place-content: center;
}
