$colors: (
  accent: (
    90: hsl(285, 100%, 90%),
    100: hsl(285, 100%, 80%),
    200: hsl(285, 100%, 70%),
    300: hsl(285, 100%, 65%),
    400: hsl(285, 100%, 40%),
    500: hsl(285, 100%, 20%),
  ),
  primary-red: (
    90: hsl(0, 100%, 90%),
    100: hsl(0, 100%, 80%),
    200: hsl(0, 100%, 70%),
    300: hsl(0, 100%, 60%),
    400: hsl(0, 100%, 40%),
    500: hsl(0, 100%, 20%),
  ),
  primary-yellow: (
    90: hsl(50, 100%, 90%),
    100: hsl(50, 100%, 80%),
    200: hsl(50, 100%, 70%),
    300: hsl(50, 100%, 60%),
    400: hsl(50, 100%, 40%),
    500: hsl(50, 100%, 20%),
  ),
  primary-blue: (
    90: hsl(240, 100%, 90%),
    100: hsl(240, 100%, 80%),
    200: hsl(240, 100%, 70%),
    300: hsl(240, 100%, 60%),
    400: hsl(240, 100%, 40%),
    500: hsl(240, 100%, 20%),
  ),
  secondary-orange: (
    90: hsl(15, 100%, 90%),
    100: hsl(15, 100%, 80%),
    200: hsl(15, 100%, 70%),
    300: hsl(15, 100%, 60%),
    400: hsl(15, 100%, 40%),
    500: hsl(15, 100%, 20%),
  ),
  secondary-purple: (
    90: hsl(280, 100%, 90%),
    100: hsl(280, 100%, 80%),
    200: hsl(280, 100%, 70%),
    300: hsl(280, 100%, 60%),
    400: hsl(280, 100%, 40%),
    500: hsl(280, 100%, 20%),
  ),
  secondary-green: (
    90: hsl(110, 100%, 90%),
    100: hsl(110, 100%, 80%),
    200: hsl(110, 100%, 70%),
    300: hsl(110, 100%, 60%),
    400: hsl(110, 100%, 40%),
    500: hsl(110, 100%, 20%),
  ),
);
