@keyframes strokeRGB {
  100%,
  0% {
    stroke: rgb(255, 0, 0);
  }
  8% {
    stroke: rgb(255, 127, 0);
  }
  16% {
    stroke: rgb(255, 255, 0);
  }
  24% {
    stroke: rgb(127, 255, 0);
  }
  32% {
    stroke: rgb(0, 255, 0);
  }
  40% {
    stroke: rgb(0, 255, 127);
  }
  48% {
    stroke: rgb(0, 255, 255);
  }
  56% {
    stroke: rgb(0, 127, 255);
  }
  64% {
    stroke: rgb(0, 0, 255);
  }
  72% {
    stroke: rgb(127, 0, 255);
  }
  80% {
    stroke: rgb(255, 0, 255);
  }
  88% {
    stroke: rgb(255, 0, 127);
  }
}
