@keyframes fillRGB {
  100%,0%{
    fill: rgb(255,0,0);
  }
  8%{
    fill: rgb(255,127,0);
  }
  16%{
    fill: rgb(255,255,0);
  }
  24%{
    fill: rgb(127,255,0);
  }
  32%{
    fill: rgb(0,255,0);
  }
  40%{
    fill: rgb(0,255,127);
  }
  48%{
    fill: rgb(0,255,255);
  }
  56%{
    fill: rgb(0,127,255);
  }
  64%{
    fill: rgb(0,0,255);
  }
  72%{
    fill: rgb(127,0,255);
  }
  80%{
    fill: rgb(255,0,255);
  }
  88%{
    fill: rgb(255,0,127);
  }
}