/* ### */
/* ### */
/* Footer */
svg#gradient{
  position: absolute;
}

.footer-wrap{
  font-family: var(--ff-josefin-sans);
  font-size: 1.5rem;
  font-weight: 300;
  
  background: black;
  border-top: 5px solid var(--accent);
  
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  
  padding: 1em;
}

.footer-about-us{
  padding-top: 2em;
  padding-left: 2em;
  padding-right: 2em;

}

.footer-title{
  font-size: clamp(1em, 2vw, 1.3em);
  font-weight: 500;
  line-height: 1.5em;
  
  color: var(--accent);
  
  position: relative;
  
  transition: var(--transition);
  
  margin-bottom: 15px;
}

.footer-title:before {
  content: "";
  position: absolute;
  
  background: var(--accent);
  
  width: 50px;
  height: 2px;
  left: 0;
  bottom: -2px;
}

.footer-paragraph{
  max-width: 50ch;

  font-size: clamp(0.8em, 2vw, 1em);
  
  transition: var(--transition);
  
  padding-top: 0.2em;
  padding-bottom: 0.7em;
  
}

#social-media-footer {
  display: flex;
  
  margin-left: -0.2em;
}

#social-media-footer li:nth-child(2) {
  margin: 0 0.5rem;
}

#social-media-footer li a:hover svg path,
#social-media-footer li a:focus svg path {
  stroke: var(--accent);
}

.footer-contact-us{
  line-height: 2.5rem;

  padding-top: 2em;
  padding-left: 2em;
  padding-right: 2em;
}

.footer-contact-us a{
  text-decoration: none;
  
  color: var(--link);
  
  transition: var(--transition);
}

.footer-contact-us ul li:hover a,
.footer-contact-us ul li:focus-within a {
  color: var(--accent);
}

.info{
  font-size: clamp(0.8em, 2vw, 1em);
}

.footer-quick-links {
  position: relative;
  
  line-height: 2.5rem;

  padding-top: 2em;
  padding-left: 2em;
  padding-right: 2em;
}

.footer-quick-links ul li a {
  text-decoration: none;
  
  color: var(--link);
  
  transition: var(--transition);
}

.footer-quick-links ul li:hover a,
.footer-quick-links ul li:focus-within a{
  color: var(--accent);
}

.links-list{
  font-size: clamp(0.8em, 2vw, 1em);
}

.footer-logo{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
  padding: 1em 0em;
}

.footer-logo-svg {
  width: 15em;
  height: 5em;
}

.footer-logo-anchor:focus svg path,
.footer-logo-anchor:hover svg path{
  stroke: none;
}

.footer-logo-anchor:focus #x,
.footer-logo-anchor:hover #x{
  animation: rgb 4s infinite;
}

.copyright {
  font-family: var(--ff-josefin-sans);
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  
  border-top: 1px solid #fff;
  background: black;
  color: rgb(255, 255, 255);
  
  padding: 0.7em 0em;
}