.header-wrapper{
  width: 100%;
  
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}

/* Header */
.header{
  height: auto;
  
  background: var(--dark-900); 
  
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  
  z-index: 1;
}

.social-icons{
  display: flex;
  flex-direction: row;
}

.facebook-anchor:hover .facebook-icon path{
  stroke: var(--accent);
}

.instagram-anchor:hover .instagram-icon path{
  stroke: var(--accent);
}

.twitter-anchor:hover .twitter-icon path{
  stroke: var(--accent);
}

.header-anchor:focus svg path,
.header-anchor:hover svg path{
  stroke: none;
}

.header-anchor:focus #x,
.header-anchor:focus #x{
  animation: rgb 4s infinite;
}

/* ### */
/* ### */
.header-svg{
  width: 12em;
  height: 6em;
  
  margin-top: 0.25em;
}
/* ### */
/* ### */

/* ### */
/* ### */
.user-controls{
  display: flex;
  flex-direction: row;
}

.search-anchor:hover .search-icon path{
  stroke: var(--accent);
}

.user-anchor:hover .user-icon path{
  stroke: var(--accent);
}

.cart-anchor:hover .cart-icon path{
  stroke: var(--accent);
}
/* #### */
/* ### */

/* ### */
/* ### */
.nav{
  width: 100%;
  /* position: fixed; */

  background: var(--nav-bg);
  border-bottom: 5px solid var(--accent);

  margin-bottom: auto; /* Fixes nav in the header (Same goes for footer but margin-top) Ps. Needs min-height: 100vh */
}

.nav a{
  font-family: var(--ff-montserrat);
  font-size: clamp(0.7em, 1vw, 1em);
  font-weight: 400;
  text-transform: uppercase;
  
  color: var(--link);
  
  transition: var(--transition);
  
  display: flex;
  align-items: center;
  
  padding: 1rem 2rem;
}

.nav a:focus{
  color: var(--accent);
}

a:hover,
a:hover svg path,
a:focus,
a:focus svg path{
  color: var(--accent);
  stroke: var(--accent);
  
  transition: var(--transition);
  
  cursor: pointer;
}

.nav-unordered-list{
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
}

.nav-unordered-list ul{
  width: 100%;
}
.nav-unordered-list li{
  position: relative;
}

.nav-unordered-list li:hover .nav-item-drop_1,
.nav-unordered-list li:focus-within .nav-item-drop_1{
  top: auto;
  animation: dropdown 0.2s forwards;
}

.nav-item-drop_1 li:not(:first-child) ul{
  border-top: 5px solid var(--accent);
  
}

.nav-item-drop_1 li:last-child{
  border-bottom: 5px solid var(--accent);
}

.nav-item-drop_1 li a{
  font-size: clamp(0.7em, 1vw, 0.8em);
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  
  display: flex;
  text-align: left;
  justify-content: start;
  
  margin: 0.5rem;
  padding: 0.5rem;
}

.nav-item-drop_1 li a:focus{
  color: var(--accent);
  padding: 0.5rem;
}

.nav-item-drop_1{
  background: var(--drop-bg);
  
  position: absolute;
  top: -900px;
  
  display: flex;
  flex-direction: column;
  
  opacity: 0;
  
  border-top: 5px solid var(--accent);
}

.nav-item-drop_2,
.nav-item-drop_3{
  background: var(--drop-bg);
  
  position: absolute;
  top: -900px;
  left: 100%;
  
  display: flex;
  flex-direction: column;
  
  opacity: 0;
}

.nav-item-drop_1 li:hover .nav-item-drop_2,
.nav-item-drop_1 li:focus-within .nav-item-drop_2{
  top: 0;
  opacity: 1;
  animation: dropdown 0.2s forwards;
}

.nav-item-drop_2 li:hover .nav-item-drop_3,
.nav-item-drop_2 li:focus-within .nav-item-drop_3{
  top: 0px;
  animation: dropdown 0.2s forwards;
}

.nav-item-drop_1 li:not(:first-child) .nav-item-drop_2 li:hover ul.nav-item-drop_3,
.nav-item-drop_1 li:not(:first-child) .nav-item-drop_2 li:focus-within ul.nav-item-drop_3{
  top: -9%;
  animation: dropdown 0.2s forwards;
}
/* ### */
/* ### */
