@use '../../abstracts/_mixins.scss' as *;

.desktop--header {
  display: none;
}

@include mq(992px) {
  
  .desktop--header {
    width: 100%;
    display: flex;
    @include space-between;
    
    background: var(--clr-contrast-lowest);
    border-bottom: 2px solid var(--clr-accent-300);
    
    padding: clamp(1rem, 1vw, 2rem) clamp(1rem, 3vw, 4rem);
    
    position: relative;
    
    *:hover,
    *:focus {
      transition: all 200ms ease;
    }
    
    a:hover,
    a:focus,
    button:hover,
    button:focus {
      outline: none;
      
      path:not(.X) {
        stroke: var(--clr-accent-200);
        transition: all 200ms ease;
      }
    }
    
    path:not(.X) {
      stroke: var(--color-contrast-high);
    }
    
    svg {
      width: 2.35rem;
      height: 2.35rem;
    }

    .XLogo {
      position: absolute;
    }
    
    div {
      display: flex;
      gap: .5rem;
    }
    .user--controls {
      stroke: var(--clr-gray-scale-90);
    } 

    .social-icons {
      stroke: var(--clr-gray-scale-90);
    }
  }
}