@use '../../abstracts/mixins.scss' as *;

.desktop--header {
  display: none;
}

@include lg {
  
  .desktop--header {
    width: 100%;
    @include space-between;
    
    background: var(--color-contrast-lowest);
    border-bottom: 2px solid var(--accent-100);
    
    padding: clamp(1rem, 1vw, 2rem) clamp(1rem, 3vw, 4rem);
    
    position: relative;
    
    *:hover,
    *:focus {
      transition: all 200ms ease;
    }
    
    a:hover,
    a:focus,
    button:hover,
    button:focus {
      outline: none;
      
      path:not(.X) {
        stroke: var(--accent-100);
        transition: all 200ms ease;
      }
    }
    
    path:not(.X) {
      stroke: var(--color-contrast-high);
    }
    
    svg {
      width: 2.35rem;
      height: 2.35rem;
    }
    
    div {
      display: flex;
      gap: .5rem;
    }
    
  }
}