@media (min-width: 950px) {
  .desktop--nav {
    a {
      font-weight: 300;
      padding: 0.35rem;
      border-radius: 0.25rem;
      
      &:hover, 
      &:focus {
        color: var(--gray-100);
        background: var(--accent-100);
      }
    }
  }
  
  .navigation--item {
    width: 8rem;
    text-align: center;
    border-radius: 0.25rem;
  }
}