@use '../../abstracts/mixins.scss' as *;

.desktop--nav {
  @include mq(992px) { 
    a {
      font-weight: 300;
      padding: 0.35rem;
      border-radius: 0.25rem;
      
      &:hover, 
      &:focus {
        color: var(--clr-gray-scale-200);
        background: var(--clr-accent-200);
      }
    }
  }
}

.navigation--item {
  @include mq(992px) { 
    width: 8rem;
    text-align: center;
    border-radius: 0.25rem;
  }
}