body{
  height: auto;
}

main {
  height: auto;
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: flex-start;
  background-color: var(--dark-900);
}

#banner {
  width: 100%;
  height: 46rem;

  background: linear-gradient(-45deg, var(--dark-900), var(--dark-800), var(--dark-750), var(--dark-700));
  
  font-size: 1.2rem;
  box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.75);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* Waves Placements and Properties */
.wave-top{
  aspect-ratio: 900/115;
  width: 100%;
  height: 100%;
 
  background-position: bottom 30rem right 0rem;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.svg-wave-top{
  background-image: url('../../images/waves-top.svg');
}

.wave-bot{
  display: flex;
  align-items: center;
  justify-content: center;

  aspect-ratio: 900/115;
  width: 100%;
  height: 100%;
 
  background-position: top 30rem right 0rem;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.svg-wave-bot{
  background-image: url('../../images/waves-bottom.svg');
}

#banner h1{
  font-size: clamp(1rem, 6vw, 10rem);
  background: linear-gradient(-45deg, #ee7752, #d42f2f, #560cce, #e90677);
	background-size: 400% 400%;
  animation: gradient 15s ease infinite;
 -webkit-background-clip: text;
  background-clip: text;
  background-attachment: fixed;
  color: transparent;
}

#content{
  width: 100%;
  max-width: 90ch;
  height: auto; 
  
  display: flex;
  text-align: left;
  justify-content: center;
  flex-direction: column;
  
  padding: 5rem 15rem;
  
}

.about-titles{
  font-size: clamp(0.1rem, 1.3rem + 1vw, 1.7rem);
  font-family: var(--ff-source-sans-pro);
  margin: 1rem 0rem;
}

#about-us-text{
  
  font-size: clamp(1rem, 2vw, 1.5rem);
  font-weight: 300;
  font-family: var(--ff-source-sans-pro);

  margin-bottom: 1.5rem;
} 

