@media (max-width: 800px) {

  section#banner{
    height: 30rem;
  }

  main section#content{
    margin: 0rem 2rem;
    padding: 4rem 4rem;
  }

  #banner h1{
    font-size: 3rem;
  }

  div.wave-top{
    background-position: top -60rem right 0rem;
  }

  div.wave-bot{
    background-position: bottom -10rem right 0rem;
  }
}

@media (max-width: 400px) {

  section#banner{
    height: 20rem;
  }

  #content{
    padding: 2rem 1rem;
  }

  div.wave-top{
    background-position: top -70rem right 0rem;
  }

  div.wave-bot{
    background-position: bottom -5rem right 0rem;
  }
  
}