.checkout3--payment--options {
  display: flex;
  gap: 2rem;
  margin: 0 10rem;
}

.checkout3--payment--title {
  font-size: var(--fs-700);

  background-image: linear-gradient(to right, var(--clr-accent-200), var(--clr-accent-200));
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 100% 2px;
  margin-top: 2rem;

  cursor: pointer;
  user-select: none;

  transition: all 200ms linear;

  &:hover {
    color: var(--clr-gray-scale-900);
    background-size: 100% 100%;
  }
}

.checkout3--payment--credit {
  width: 70%;

  display: flex;
  flex-direction: column;

  background: var(--clr-gray-scale-900);
  margin-top: 2rem;
  margin-left: 10rem;
  padding: 4rem;

  border-radius: .5rem;
}

.checkout3--payment--credit--title {
  display: flex;
  align-items: center;
  gap: 4rem;

  margin-bottom: 1rem;
}

.checkout3--payment--h2 {
  font-size: var(--fs-700);
}

.checkout3--payment--radio {
  width: 30px;
  height: 30px;

  background: var(--clr-gray-scale-900);
  outline: 0;
  border: 0;
  accent-color: var(--clr-accent-200);
}

.checkout3--payment--inputs {
  display: flex;
  flex-direction: column;
}

.checkout3--payment--inputs--extras {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2rem;
}

.checkout3--payment--number {
  color: var(--clr-gray-scale-90);
  background: var(--clr-gray-scale-700);
  padding: .5rem;

  outline: 0;
  border: 0;
  border-radius: .5rem;
}
