@use '../abstracts/mixins.scss' as *;

.login--body {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
  "banner"
  "login";
}

.login--banner {
  width: 100%;
  height: 100vh;

  display: flex;
  @include items-center;
  @include column;

  background: var(--clr-accent-200);
  padding: 2rem;

  grid-area: banner;

  position: relative;

  &--h3 {
    margin-top: 1rem;
    color: var(--color-gray-scale-90);
    font-size: 2rem;
    font-weight: 400;

  }

  &--h2 {
    font-weight: 300;
  }

}

.down--arrow {
  margin-top: 1rem;
  width: 3rem;
}

.login--form--wrapper {
  display: grid;
  place-items: center;
  grid-area: login;
}

.login--form {
  display: flex;
  @include column;
}

.login--form--logo-wrapper {
  display: flex;
  @include items-center;
}

.login--form--logo {
  width: 70px;
  margin-bottom: 1rem;
}

.login--form--h1 {
  text-align: center;
  font-size: var(--fs-400);
}

.login--form--name--wrapper {
  position: relative;

  padding: 1rem;
}

.login--form--pass--wrapper {
  position: relative;

  padding: 1rem;
}

.login--form--image {
  width: 30px;
  left: 28px;
  top: 59.5%;
  opacity: .65;
  transform: translateY(-50%);
  position: absolute;
}

.login--form--label {
  font-family: var(--ff-montserrat);
  font-size: var(--fs-300);

  margin-left: .75rem;
}

.login--form--input {
  color: var(--clr-gray-scale-90);
  font-size: 1.35rem;
  width: 100%;

  background: var(--clr-gray-scale-700);
  border-radius: 1.5rem;
  padding: .7rem 3rem;
  margin: .75rem 0;
  
  border: 0;
  outline: 0;

  transition: all 200ms linear;

  &:placeholder {
    margin-left: 2rem;
  }

  &:hover,
  &:focus {
    background: var(--clr-gray-scale-700);
    box-shadow: 0 0 0 3px var(--clr-accent-200);
  }
}

.login--form--button {
  color: var(--clr-gray-scale-90);
  font-family: var(--ff-montserrat);
  text-align: center;
  
  width: 100%;

  background: var(--clr-accent-200);
  padding: .85rem;
  margin: 1.5rem 0;
  border-radius: 1rem;
  border: 0;
  outline: 0;

  transition: all 200ms ease;

  &:hover {
    background: var(--accent-200);
  }

}

.login--form--button--wrapper {
  width: 90%;
  display: flex;
  align-items: center;

  margin-left: auto;
  margin-right: auto;
}

.login--form--divider {
  width: 100%;
  height: 3px;

  background: var(--clr-gray-scale-90);
  border-radius: .5rem;
  outline: 0;
  border: 0;
}

.login--form--google--wrapper {
  width: 90%;
  display: flex;
  align-items: center;

  background: #4285F4;
  border-radius: 1rem;
  padding: .5rem;
  margin-top: 1.5rem;
  margin-left: auto;
  margin-right: auto;

  .login--form--google {
    color: var(--clr-gray-scale-90);
    font-family: var(--ff-montserrat);

    // margin-top: .05rem;
    margin-left: .5rem;
  }
}

.login--form--pass--extras {
  display: flex;
  @include space-between;
}

#login--remember {
  margin-left: 1.25rem;
}

.login--remember--label {
  font-family: var(--ff-montserrat);
  font-size: 1rem;

  accent-color: var(--clr-accent-200);
}

.login--forgot {
  margin-right: 1.25rem;
}

@include mq(1024px) {
  .login--banner {
    width: 100%;
    height: 100vh;
  
    display: flex;
    @include items-center;
    @include column;
  
    background: var(--clr-accent-200);
    padding: 15rem;
  
    grid-area: banner;
  
    position: relative;
  
    &--h3 {
      margin-top: 1rem;
      color: var(--clr-gray-scale-90);
      font-size: 2rem;
      font-weight: 400;
  
    }
  
    &--h2 {
      font-weight: 300;
    }
  
  }

}

@include mq(992px) {
  .login--body {
    display: grid;
    grid-template-columns: 1fr 2fr 3fr;
    grid-template-rows: auto;
    grid-template-areas: 
    ". banner login";
  }
  
  .login--banner {
    width: 90%;
    height: 100vh;

    display: flex;
    @include items-center;
    @include column;

    background: var(--clr-accent-200);
    padding: 2rem;

    grid-area: banner;

    &--h3 {
      margin-top: 1rem;
      color: var(--clr-gray-scale-90);
      font-size: 2rem;
      font-weight: 400;

    }

    &--h2 {
      font-weight: 300;
    }

  }

  .down--arrow {
    display: none;
  }

  .login--form--wrapper {
    display: grid;
    place-items: center;
    grid-area: login;
  }

  .login--form {
    display: flex;
    @include column;
  }

  .login--form--logo-wrapper {
    display: flex;
    @include items-center;
  }

  .login--form--logo {
    width: 70px;
  }

  .login--form--h1 {
    text-align: center;
    font-size: 3rem;
  }

  .login--form--name--wrapper {
    position: relative;

    padding: 0;
  }

  .login--form--pass--wrapper {
    position: relative;

    padding: 0;
  }

  .login--form--pass--extras {
    display: flex;
    @include space-between;
  }

  #login--remember {
    margin-left: .75rem;
  }

  .login--remember--label {
    font-family: var(--ff-montserrat);
    font-size: 1rem;

    accent-color: var(--clr-accent-200);
  }

  .login--forgot {
    margin-right: .75rem;
  }

  .login--form--image {
    width: 30px;
    left: 2.75%;
    top: 62%;
    opacity: .65;
    transform: translateY(-50%);
    position: absolute;
  }

  .login--form--label {
    font-family: var(--ff-montserrat);
    font-size: var(--fs-300);

    margin-left: .75rem;
  }

  .login--form--input {
    color: var(--clr-gray-scale-90);
    font-size: var(--fs-400);
    width: 100%;

    background: var(--clr-gray-scale-700);
    border-radius: 1.5rem;
    padding: .7rem 3rem;
    margin: .75rem 0;
    
    border: 0;
    outline: 0;

    transition: all 200ms linear;

    &:placeholder {
      margin-left: 2rem;
    }

    &:hover,
    &:focus {
      background: var(--clr-gray-scale-800);
      box-shadow: 0 0 0 3px var(--clr-accent-200);
    }
  }

  .login--form--button {
    color: var(--clr-gray-scale-90);
    font-family: var(--ff-montserrat);
    text-align: center;

    background: var(--clr-accent-200);
    padding: .85rem;
    margin: 1.5rem 0;


    border-radius: 1rem;
    border: 0;
    outline: 0;

    transition: all 200ms ease;

    &:hover {
      background: var(--clr-accent-300);
    }

  }

  .login--form--button--wrapper {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .login--form--divider {
    width: 100%;
    height: 3px;

    background: var(--clr-gray-scale-90);
    border-radius: .5rem;
    outline: 0;
    border: 0;
  }

  .login--form--google--wrapper {
    width: 100%;
  
    display: flex;
    align-items: center;

    background: #4285F4;
    border-radius: 1rem;
    padding: .5rem;
    margin-top: 1.5rem;

    .login--form--google {
      color: var(--clr-gray-scale-90);
      font-family: var(--ff-montserrat);

      // margin-top: .05rem;
      margin-left: .5rem;
    }
  }

}




