@use '../abstracts/mixins.scss' as *;


@include lg {
  
  .main--products,
  .main--title,
  .main--per--category {
    padding: 0 6rem;
  }
  
  .main--banner {
    height: 50vh;
    background-image: url(../images/banners/low-poly-grid-haikei.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .main--products {
    display: flex;
    @include space-between;
    gap: 2rem;
    
    padding: 0 1.5rem;
    margin-top: -7rem;
  }
  
  .main--products--card {
    background: var(--color-contrast-lower);
    box-shadow: 1px 15px 20px black;
    border-radius: 1rem;
    
    &--image {
      background: var(--accent-100);
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
    }
    
    &--desc {
      padding: 1rem .8rem;
    }
    
    &--title,
    &--paragraph,
    &--buy {
      text-transform: uppercase;
    }
    
    &--title {      
      font-size: 1.25rem;
      margin-bottom: .5rem;
    }
    
    &--paragraph {
      color: limegreen;
      
      margin-bottom: .5rem;
    }
    
    
  }
  
  .main--products--card--button--wrapper {
    display: flex;
    // @include space-between;
  }
  
  .main--products--card--buy {
    color: var(--color-contrast-higher);
    font-size: clamp(.8rem, 1vw, 1rem); 
    font-family: var(--ff-montserrat);
    
    display: flex;
    @include items-center;
    gap: .2rem;
    
    background: var(--accent-100);
    outline: 0;
    border: 0;
    border-bottom-left-radius: .5rem;
    border-top-left-radius: .5rem;
    
    padding: .5rem .8rem;
    
    transition: all 200ms ease-in-out;
    
    &:hover {
      background: var(--accent-200);
    }
    
  }
  
  .main--products--card--cart {
    color: var(--color-contrast-higher);
    font-size: clamp(.8rem, 1vw, 1rem); 
    font-family: var(--ff-montserrat);
    
    display: flex;
    @include items-center;
    gap: .2rem;
    
    background: var(--accent-100);
    outline: 0;
    border: 0;
    border-bottom-right-radius: .5rem;
    border-top-right-radius: .5rem;
    
    padding: .5rem .8rem;
    
    transition: all 200ms ease-in-out;
    
    &:hover {
      background: var(--accent-200);
    }
    
  }
  
  .main--products--card--label {
    width: 25px;
  }
  
  .buy-100 {
    width: 100%;
  }
  
  .main--per--category {
    display: flex;
    
  }
  
  .main--title {
    font-size: 3rem;
    padding: 0 1.5rem;
    margin-top: 4rem;
    margin-bottom: 1rem;

  }
  
  .main--per--category {
    display: flex;
    gap: 1rem;

    padding: 0 1.5rem;

  }
  
  .main--category--card {
    width: 100%;
    height: 15rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px 8px 8px 8px;
    
    box-shadow: 1px 15px 20px black;
    border-radius: 1rem;
    
    transition-timing-function: ease-out;
    transition: all 250ms ease-in;
    position: relative;
    
    &:hover,
    &:focus {
      transform: scale(0.95);
    }
    
    &:hover .main--category--card--label,
    &:focus .main--category--card--label {
      width: 15rem;
      left: 10%;
      border-radius: 1rem;
      
      background-size: 100% 100%;
      background-image: linear-gradient(90deg, var(--accent-100) 0%, var(--accent-200) 100%);
      box-shadow: 0px 5px 0px 1px var(--accent-300);
    }
    
  }
  
  .main--category--card--label {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    
    display: flex;
    @include items-center;
    
    width: 10rem;
    height: 5rem;
    
    background: var(--color-contrast-higher);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 0% 0%;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    
    transition-timing-function: ease-out;
    transition: all 250ms ease-in;
    
    &--text {
      color: var(--color-contrast-lowest);
    }
  }
  
  .amd {
    background-image: url(/packages/web/images/products/amd.jpg);
    
  }
  .intel {
    background-image: url(/packages/web/images/products/intel.jpg);
    
  }
  .nvidia {
    background-image: url(/packages/web/images/products/pexels-athena.jpg);
    
  }
  .redragon {
    background-image: url(/packages/web/images/products/redragon.jpg);
    
  }
  
}

@include xl {
  .main--banner {
    height: 50vh;
    background-image: url(../images/banners/low-poly-grid-haikei.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .main--products {
    display: flex;
    @include space-between;
    gap: 2rem;
    
    padding: 0 6rem;
    margin-top: -7rem;
  }
  
  .main--products--card {
    background: var(--color-contrast-lower);
    box-shadow: 1px 15px 20px black;
    border-radius: 1rem;
    
    &--image {
      background: var(--accent-100);
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
    }
    
    &--desc {
      padding: 2rem 1.2rem;
    }
    
    &--title,
    &--paragraph,
    &--buy {
      text-transform: uppercase;
    }
    
    &--title {      
      margin-bottom: .5rem;
    }
    
    &--paragraph {
      color: limegreen;
      
      margin-bottom: .5rem;
    }
    
    
  }
  
  .main--products--card--button--wrapper {
    width: 100%;
    display: flex;
    // @include space-between;
  }
  
  .main--products--card--buy {
    color: var(--color-contrast-higher);
    font-size: clamp(.8rem, 1vw, 1rem); 
    font-family: var(--ff-montserrat);
    
    display: flex;
    @include items-center;
    gap: .2rem;
    
    background: var(--accent-100);
    outline: 0;
    border: 0;
    border-bottom-left-radius: .5rem;
    border-top-left-radius: .5rem;
    
    padding: .5rem .8rem;
    
    transition: all 200ms ease-in-out;
    
    &:hover,
    &:focus {
      background: var(--accent-200);
    }
    
  }
  
  .main--products--card--cart {
    color: var(--color-contrast-higher);
    font-size: clamp(.8rem, 1vw, 1rem); 
    font-family: var(--ff-montserrat);
    
    display: flex;
    @include items-center;
    gap: .2rem;
    
    background: var(--accent-100);
    outline: 0;
    border: 0;
    border-bottom-right-radius: .5rem;
    border-top-right-radius: .5rem;
    
    padding: .5rem .8rem;
    
    transition: all 200ms ease-in-out;
    
    &:hover,
    &:focus {
      background: var(--accent-200);
    }
    
  }
  
  .main--products--card--label {
    width: 32px;
  }
  
  .buy-100 {
    width: 100%;
  }
  
  .main--title {
    font-size: 3rem;
    padding: 0 6rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  
  .main--per--category {
    display: flex;
    gap: 1rem;

    padding: 0 6rem;

  }
  
  .main--category--card {
    width: 100%;
    height: 15rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px 8px 8px 8px;
    
    box-shadow: 1px 15px 20px black;
    border-radius: 1rem;
    
    transition-timing-function: ease-out;
    transition: all 250ms ease-in;
    position: relative;
    
    &:hover,
    &:focus {
      transform: scale(0.95);
    }
    
    &:hover .main--category--card--label,
    &:focus .main--category--card--label {
      width: 15rem;
      left: 10%;
      border-radius: 1rem;
    
      background-size: 100% 100%;

      .amd {
        background-image: linear-gradient(90deg, var(--accent-100) 0%, var(--accent-200) 100%);
      }
    }
    
  }
  
  .main--category--card--label {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    
    display: flex;
    @include items-center;
    
    width: 10rem;
    height: 5rem;
    
    background: var(--color-contrast-higher);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 0% 0%;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    
    transition-timing-function: ease-out;
    transition: all 250ms ease-in;
    
    &--text {
      color: var(--color-contrast-lowest);
    }
  }
  
  .amd {
    background-image: url(../images/products/amd.webp);
    
  }
  .intel {
    background-image: url(../images/products/intel.webp);
    
  }
  .nvidia {
    background-image: url(../images/products/nvidia.webp);
    
  }
  .redragon {
    background-image: url(../images/products/redragon.webp);
    
  }
}