@use '../abstracts/_mixins.scss' as *;

@include lg {
  .main--banner {
    height: 50vh;
    background-image: url(../images/pages/main/banners/low-poly-grid-haikei.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .main--products {
    display: flex;
    @include space-between;
    gap: 2rem;
    
    padding: 0 1.5rem;
    margin-top: -7rem;
  }
  
  .main--title {
    font-size: 3rem;

    padding: 0 2rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
  }
  
  .main--per--category {
    display: flex;
    gap: 1rem;
    
    padding: 0 2rem;
  }
  
  .main--category--card {
    width: 100%;
    height: 15rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px 8px 8px 8px;
    
    box-shadow: 1px 15px 20px black;
    border-radius: 1rem;
    
    transition-timing-function: ease-out;
    transition: all 250ms ease-in;
    position: relative;
    
    &:hover,
    &:focus {
      transform: scale(0.95);
    }
    
    &:hover .main--category--card--label,
    &:focus .main--category--card--label {
      width: 10rem;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      border-radius: 1rem;
      
      background-size: 100% 100%;
      box-shadow: 
      0px 7px 0px var(--color-contrast-lowest);
    }
    
    &:hover .amd--hover,
    &:focus .amd--hover {
      background-image: linear-gradient(90deg, hsl(0, 100%, 50%) 0%, hsl(19, 100%, 50%) 100%);
    }
    &:hover .intel--hover,
    &:focus .intel--hover {
      background-image: linear-gradient(90deg, hsl(240, 99%, 43%) 0%, hsl(226, 100%, 50%) 100%);
    }
    &:hover .nvidia--hover,
    &:focus .nvidia--hover {
      background-image: linear-gradient(90deg, hsl(120, 100%, 25%) 0%, hsl(120, 61%, 50%) 100%);
    }
    &:hover .redragon--hover,
    &:focus .redragon--hover {
      background-image: linear-gradient(90deg, hsl(0, 100%, 50%) 0%, hsl(19, 100%, 50%) 100%);
    }
    
  }
  
  .main--category--card--label {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    
    display: flex;
    @include items-center;
    
    width: 7rem;
    height: 5rem;
    
    background: var(--color-contrast-higher);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 0% 0%;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    
    transition-timing-function: ease-out;
    transition: all 250ms ease-in;
    
    &--text {
      font-size: 1.5rem;
      color: var(--color-contrast-lowest);
    }
  }
  
  .amd {
    background-image: url(../images/pages/main/brand/amd.webp);
    
  }
  .intel {
    background-image: url(../images/pages/main/brand/intel.webp);
    
  }
  .nvidia {
    background-image: url(../images/pages/main/brand/nvidia.webp);
    
  }
  .redragon {
    background-image: url(../images/pages/main/brand/redragon.webp);

  }
  
  .main--per--department {
    width: 100%;
    display: flex;
    @include items-center;
    gap: 1rem;
    
    padding: 0 2rem;
  }
  
  .main--department--card {
    width: 100%;
    height: 15rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    border-radius: 8px 8px 8px 8px;
    
    box-shadow: 1px 15px 20px black;
    border-radius: 1rem;
    transition-timing-function: ease-out;
    transition: all 250ms ease-in;
    position: relative;
    
    &:hover,
    &:focus {
      transform: scale(0.95);
    }
    
    &:hover .main--department--card--label,
    &:focus .main--department--card--label {
      width: 100%;
      height: 100%;
      
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      background-image: linear-gradient(90deg, var(--accent-100) 0%, var(--accent-200) 100%);
      background-size: 100% 100%;
      box-shadow: 0px 5px 0px 1px var(--accent-300);
    }
    
    &:hover .main--department--card--label--text,
    &:focus .main--department--card--label--text{
      font-size: 2.5rem;
    }
    
  }
  
  .main--department--card--label {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    
    display: flex;
    @include items-center;
    
    width: 8rem;
    height: 8rem;
    
    background: var(--color-contrast-higher);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 0% 0%;
    border-radius: 1rem;
    
    transition-timing-function: ease-out;
    transition: all 250ms ease-in;
    
    &--text {
      font-size: 1.25rem;
      color: var(--color-contrast-lowest);
      
      transition: all 250ms ease-in;
    }
  }
  
  .hardware--image {
    background-image: url(../images/main-page/hardware.webp);
  }
  .peripherals--image {
    background-image: url(../images/main-page/keyboard.webp);
  }
  .console--image {
    background-image: url(../images/main-page/console.webp);
  }
  .accessories--image {
    background-image: url(../images/main-page/accessories.webp);
  }
  
  .main--offers {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;

    gap: 3rem;
    margin-bottom: 4rem;
    padding: 0 2rem;
  }
  
}

@include xl {
  .main--banner {
    height: 50vh;
    background-image: url(../images/pages/main/banners/low-poly-grid-haikei.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .main--products {
    display: flex;
    @include space-between;
    gap: 2rem;
    
    padding: 0 6rem;
    margin-top: -7rem;
  }
  
  .main--title {
    width: max-content;

    font-size: 4rem;
    padding: 0 6rem;
    margin-top: 3.5rem;
    margin-bottom: 1rem;
    position: relative;
  }
  
  .main--per--category {
    display: flex;
    gap: 1rem;
    
    padding: 0 6rem;
  }
  
  .main--category--card {
    width: 100%;
    height: 15rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px 8px 8px 8px;
    
    box-shadow: 1px 15px 20px black;
    border-radius: 1rem;
    
    transition-timing-function: ease-out;
    transition: all 250ms ease-in;
    position: relative;
    
    &:hover,
    &:focus {
      transform: scale(0.95);
    }
    
    &:hover .main--category--card--label,
    &:focus .main--category--card--label {
      width: 15rem;
      left: 10%;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 1rem;
      
      background-size: 100% 100%;
      box-shadow: 
      0px 7px 0px var(--color-contrast-lowest);
    }
    
    &:hover .amd--hover,
    &:focus .amd--hover {
      background-image: linear-gradient(90deg, hsl(0, 100%, 50%) 0%, hsl(19, 100%, 50%) 100%);
    }
    &:hover .intel--hover,
    &:focus .intel--hover {
      background-image: linear-gradient(90deg, hsl(240, 99%, 43%) 0%, hsl(226, 100%, 50%) 100%);
    }
    &:hover .nvidia--hover,
    &:focus .nvidia--hover {
      background-image: linear-gradient(90deg, hsl(120, 100%, 25%) 0%, hsl(120, 61%, 50%) 100%);
    }
    &:hover .redragon--hover,
    &:focus .redragon--hover {
      background-image: linear-gradient(90deg, hsl(0, 100%, 50%) 0%, hsl(19, 100%, 50%) 100%);
    }
    
  }
  
  .main--category--card--label {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    
    display: flex;
    @include items-center;
    
    width: 10rem;
    height: 5rem;
    
    background: var(--color-contrast-higher);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 0% 0%;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    
    transition-timing-function: ease-out;
    transition: all 250ms ease-in;
    
    &--text {
      font-size: 1.5rem;
      color: var(--color-contrast-lowest);
    }
  }
  
  .amd {
    background-image: url(../images/pages/main/brand/amd.webp);
    
  }
  .intel {
    background-image: url(../images/pages/main/brand/intel.webp);
    
  }
  .nvidia {
    background-image: url(../images/pages/main/brand/nvidia.webp);
    
  }
  .redragon {
    background-image: url(../images/pages/main/brand/redragon.webp);

  }
  
  .main--per--department {
    width: 100%;
    display: flex;
    @include items-center;
    gap: 1rem;
    
    padding: 0 6rem;
  }
  
  .main--department--card {
    width: 100%;
    height: 25rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    border-radius: 8px 8px 8px 8px;
    
    box-shadow: 1px 15px 20px black;
    border-radius: 1rem;
    transition-timing-function: ease-out;
    transition: all 250ms ease-in;
    position: relative;
    
    &:hover,
    &:focus {
      transform: scale(0.95);
    }
    
    &:hover .main--department--card--label,
    &:focus .main--department--card--label {
      width: 100%;
      height: 100%;
      
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      background-image: linear-gradient(90deg, var(--accent-100) 0%, var(--accent-200) 100%);
      background-size: 100% 100%;
      box-shadow: 0px 5px 0px 1px var(--accent-300);
    }
    
    
    
    
    &:hover .main--department--card--label--text,
    &:focus .main--department--card--label--text{
      font-size: 3rem;
    }
    
  }
  
  .main--department--card--label {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    
    display: flex;
    @include items-center;
    
    width: 10rem;
    height: 10rem;
    
    background: var(--color-contrast-higher);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 0% 0%;
    border-radius: 1rem;
    
    transition-timing-function: ease-out;
    transition: all 250ms ease-in;
    
    &--text {
      font-size: 2rem;
      color: var(--color-contrast-lowest);
      
      transition: all 250ms ease-in;
    }
  }
  
  .hardware--image {
    background-image: url(../images/pages/main/department/hardware.webp);
  }
  .peripherals--image {
    background-image: url(../images/pages/main/department/peripherals.webp);
  }
  .console--image {
    background-image: url(../images/pages/main/department/console.webp);
  }
  .accessories--image {
    background-image: url(../images/pages/main/department/accessories.webp);
  }
  
  .main--offers {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 3rem;
    
    margin-bottom: 4rem;
    padding: 0 6rem;
  }
}