@use '../abstracts/mixins.scss' as *;

@include lg {
  .product--main {
    display: grid;
    grid-template-columns: 0.1fr .4fr 1fr .4fr 0.1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    ". item--preview item--display aside--price . "
    ". item--preview item--display aside--price . "
    ". item--preview item--display aside--price . "
    ". item--preview item--display aside--price . "
    ;
    gap: 1rem;
    
    margin-top: 2rem;
  }
  
  .product--display {
    grid-area: item--display;
    background: var(--color-contrast-high);
    height: 85vh;
    
    border-radius: .5rem;
  }
  
  .product--preview {
    width: 100%;
    height: 90vh;
    grid-area: item--preview;
    
    &--image {
      width: 200px;
      background: var(--color-contrast-high);
      border-radius: .5rem;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 1rem;
    }
  }
  
  .product--aside {
    grid-area: aside--price;
    
    margin-left: auto;
    margin-right: auto;
    
    border-radius: .5rem;
    
    height: 85vh;
    background: var(--color-contrast-low);
  }
  
  .product--aside--image--wrapper {
    padding: 2rem;
    // margin: 4rem;
  }
  
  .product--aside--image {
    background: var(--color-contrast-higher);
    border-radius: .5rem;
    
  }
  
  .product--aside--name,
  .star--icon,
  .product--aside--card {
    margin-left: 2rem;
    
  }
  
  // Ref: https://codepen.io/WebKitCoding/pen/ZEWZJoG
  
  .rating--css {
    margin-top: .4rem;
    
    input {
      display: none;
    }
    
    input + label {
      font-size: 20px;
      text-shadow: 1px 1px 0 hsl(54, 100%, 50%);
      cursor: pointer;
    }
    
    input:checked + label ~ label {
      color: hsl(0, 0%, 71%);
    }
    
    label:active {
      transform: scale(0.8);
      transition: 400ms ease;
    }
  }
  
  .star--icon {
    color: hsl(54, 100%, 50%);
    text-align: left;
  }
  
  .fa-star:before {
    margin: 0 .1rem;
  } 

  .product--aside--card {
    display: flex;
    flex-direction: column;    
  }
  
  .product--aside--card--price {
    display: flex;
    align-items: center;
  }

  .product--aside--card--promo {
    margin-top: 2rem;
    margin-left: 3rem;
    text-decoration: line-through;
  }
  

  
  .product--aside--card--image {
    width: 50px;
  }
}

@include xl {
  .product--main {
    display: grid;
    grid-template-columns: 0.1fr .4fr 1fr .4fr 0.1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    ". item--preview item--display aside--price . "
    ". item--preview item--display aside--price . "
    ". item--preview item--display aside--price . "
    ". item--preview item--display aside--price . "
    ;
    gap: 1rem;
    
    margin-top: 2rem;
  }
  
  .product--display {
    grid-area: item--display;
    background: var(--color-contrast-high);
    height: 85vh;
    
    border-radius: .5rem;
  }
  
  .product--preview {
    width: 100%;
    height: 90vh;
    grid-area: item--preview;
    
    &--image {
      width: 200px;
      background: var(--color-contrast-high);
      border-radius: .5rem;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 1rem;
    }
  }
  
  .product--aside {
    grid-area: aside--price;
    
    margin-left: auto;
    margin-right: auto;
    
    border-radius: .5rem;
    
    height: 85vh;
    background: var(--color-contrast-low);
  }
  
  .product--aside--image--wrapper {
    padding: 2rem;
  }
  
  .product--aside--image {
    background: var(--color-contrast-higher);
    border-radius: .5rem;
    
  }
  
  .product--aside--name,
  .star--icon,
  .product--aside--payment {
    margin-left: 2rem;
    
  }
  
  // Ref: https://codepen.io/WebKitCoding/pen/ZEWZJoG
  
  .rating--css {
    margin-top: .4rem;
    
    input {
      display: none;
    }
    
    input + label {
      font-size: 20px;
      text-shadow: 1px 1px 0 hsl(54, 100%, 50%);
      cursor: pointer;
    }
    
    input:checked + label ~ label {
      color: hsl(0, 0%, 71%);
    }
    
    label:active {
      transform: scale(0.8);
      transition: 400ms ease;
    }
  }
  
  .star--icon {
    color: hsl(54, 100%, 50%);
    text-align: left;
  }
  
  .fa-star:before {
    margin: 0 .1rem;
  } 

  .product--aside--payment {
    display: flex;
    flex-direction: column;    
  }
  
  .product--aside--payment--price {
    display: flex;
    align-items: center;
  }

  .product--aside--payment--promo {
    margin-top: 2rem;
    margin-left: 3rem;
    text-decoration: line-through;
  }
  
  .product--aside--payment--image {
    width: 50px;
  }
}