@use '../abstracts/mixins.scss' as *;

.product--display--grid {
  @include mq(1200px) {
    width: 100%;
    display: grid;
    gap: 1rem;
    grid-template-areas: 
      "item--preview item--display aside--price"
      "section--description section--description ."
      "section--specification section--specification ."
      "section--reviews section--reviews .";
    grid-template-columns: .4fr 2.5fr 1fr;
    
    margin-top: 2rem;
  }
}
  
.product--display {
  @include mq(1200px) {
    height: 90vh;
    grid-area: item--display;
    background: var(--clr-gray-scale-600);
      
    border-radius: .5rem;
  }
}
  
.product--preview {
  @include mq(1200px) {
    width: 100%;
    grid-area: item--preview;
    
    &--image {
      width: 200px;
      background: var(--clr-gray-scale-600);
      margin-bottom: 1rem;
      border-radius: .5rem;
    }
  }
}

.product--aside--wrapper { 
  @include mq(1200px) {
    margin: 0 2rem;
  }
}

.product--aside {
  @include mq(1200px) {
    display: flex;
    flex-direction: column;

    grid-area: aside--price;
    
    background: var(--clr-gray-scale-600);
    
    border-radius: .5rem;
  }
}
  
.product--aside--image--wrapper {
  @include mq(1200px) {
    margin: 1rem 0;
  }
}
  
.product--aside--image {
  @include mq(1200px) {
    background: var(--clr-gray-scale-90);
    margin-left: auto;
    margin-right: auto;
    border-radius: .5rem;
  }
}

// Ref: https://codepen.io/WebKitCoding/pen/ZEWZJoG
  
.rating--css {
  @include mq(1200px) {
    margin-top: .4rem;
    
    input {
      display: none;
    }
    
    input + label {
      font-size: 20px;
      text-shadow: 1px 1px 0 var(--clr-primary-yellow-500);
      cursor: pointer;
    }
    
    input:checked + label ~ label {
      color: var(--clr-gray-scale-200);
    }
    
    label:active {
      transform: scale(0.8);
      transition: 400ms ease;
    }
  }
}
  
.star--icon {
  @include mq(1200px) {
    text-align: left;
    color: var(--clr-primary-yellow-300);
  }
}
  
.fa-star::before {
  @include mq(1200px) {
    margin: 0 .1rem;
  }
} 

.product--aside--payment {
  @include mq(1200px) {
    display: flex;
    flex-direction: column;    

    margin: 1.5rem 0;
  }
}
  
.product--aside--payment--price {
  @include mq(1200px) {
    display: flex;
    align-items: center;
    gap: .5rem;
  }
}

.span--price {
  @include mq(1200px) {
    color: var(--clr-accent-200);
  }
}

.span--money {
  @include mq(1200px) {
    color: var(--clr-secondary-green-200);
  }
}

.product--aside--payment--promo {
  @include mq(1200px) {
    text-decoration: line-through;
    margin-top: 1em;
    margin-left: 1.45em;
  }
}

.span--promo {
  @include mq(1200px) {
    color: var(--clr-accent-300);
  }
}

.product--aside--payment--h2 {
  @include mq(1200px) {
    font-size: var(--fs-400);
  }
}
  
.product--aside--payment--image {
  @include mq(1200px) {
    width: 40px;
  }
}

.product--details {
  @include mq(1200px) {
    display: flex;
    gap: 2rem;

    margin-top: 3rem;
  }
}

.product--details--link {
  @include mq(1200px) {
    font-size: var(--fs-700);
    transition: all 200ms linear;
    user-select: none;
      
    &:hover {
      color: var(--clr-accent-200);
    }
  }
}

.product--description {
  @include mq(1200px) {
    font-size: var(--fs-500);

    background: var(--clr-gray-scale-700);
    padding: 2rem;
    border-radius: .5rem;
  }
}

.product--specification--wrapper {
  @include mq(1200px) {
    display: flex;
    justify-content: space-between;

    background: var(--clr-gray-scale-700);

    padding: 2rem;

    border-radius: .5rem;
  }
}

.product--specification--paragraph {
  @include mq (1200px) {
    font-size: var(--fs-400);
  }
}

.section--details {
  @include mq(1200px) {
    grid-area: section--details;
  }
}

.section--description {
  @include mq(1200px) {
    grid-area: section--description;
  }
}

.section--specification {
  @include mq(1200px) {
    grid-area: section--specification;
  }
}

.section--reviews {
  @include mq(1200px) {
    grid-area: section--reviews;
    margin-bottom: 5rem; 
  }
}

.user--review--wrapper {
  @include mq(1200px) {
    display: flex;
    justify-content: space-between;
  }
}

.user--review--card {
  @include mq(1200px) {
    background: var(--clr-gray-scale-700);
    padding: 3rem 5rem;
    border-radius: .5rem;
  }
}

.review--button {
  @include mq(1200px) {
    font-size: var(--fs-300);
    font-family: var(--ff-montserrat);
    color: var(--clr-gray-scale-100);

    background: var(--clr-accent-300);
    padding: .8em;
    outline: 0;
    border: 0;
    border-radius: .5rem;
  }
}

.review--card {
  @include mq(1200px) {
    display: flex;
    align-items: center;
    gap: 1rem;

    background: var(--clr-gray-scale-900);

    margin-top: 2rem;
  
    padding: 2rem;

    border-radius: .5rem;
  }
}

.review--card--text {
  @include mq(1200px) {
    margin-bottom: auto;
  }
}

.review--card--image {
  @include mq(1200px) {
    width: 100px;
    border-radius: 50%;
  }
}