@use '../abstracts/mixins.scss' as *;

@include mq(1200px) {
  .product--display--grid {
    width: 100%;
    display: grid;
    grid-template-columns: .4fr 2.5fr 1fr;
    grid-template-areas: 
    "item--preview item--display aside--price"
    "section--description section--description ."
    "section--specification section--specification ."
    "section--reviews section--reviews ."
    ;
    gap: 1rem;
    
    margin-top: 2rem;
  }
  
  .product--display {
    grid-area: item--display;
    background: var(--color-contrast-high);
    height: 90vh;
    
    border-radius: .5rem;
  }
  
  .product--preview {
    width: 100%;
    grid-area: item--preview;
    
    &--image {
      width: 200px;
      background: var(--color-contrast-high);
      border-radius: .5rem;
      margin-bottom: 1rem;
    }
  }

  .product--aside--wrapper { 
    margin: 0 2rem;
  }

  .product--aside {
    // height: 85vh;

    display: flex;
    flex-direction: column;

    grid-area: aside--price;
    
    border-radius: .5rem;
    
    background: var(--color-contrast-low);

  }
  
  .product--aside--image--wrapper {
    margin: 1rem 0;
  }
  
  .product--aside--image {
    background: var(--color-contrast-higher);
    border-radius: .5rem;

    margin-left: auto;
    margin-right: auto;
  }

  // Ref: https://codepen.io/WebKitCoding/pen/ZEWZJoG
  
  .rating--css {
    margin-top: .4rem;
    
    input {
      display: none;
    }
    
    input + label {
      font-size: 20px;
      text-shadow: 1px 1px 0 var(--clr-primary-yellow-500);
      cursor: pointer;
    }
    
    input:checked + label ~ label {
      color: var(--clr-gray-scale-200);
    }
    
    label:active {
      transform: scale(0.8);
      transition: 400ms ease;
    }
  }
  
  .star--icon {
    color: var(--clr-primary-yellow-300);
    text-align: left;
  }
  
  .fa-star:before {
    margin: 0 .1rem;
  } 

  .product--aside--payment {
    display: flex;
    flex-direction: column;    

    margin: 1.5rem 0;
  }
  
  .product--aside--payment--price {
    display: flex;
    align-items: center;
    gap: .5rem;
  }

  .span--price {
    color: var(--clr-accent-200);
  }

  .span--money {
    color: var(--clr-secondary-green-200);
  }

  .product--aside--payment--promo {
    margin-top: 1em;
    margin-left: 1.45em;
    text-decoration: line-through;
  }

  .span--promo {
    color: var(--clr-accent-300);
  }

  .product--aside--payment--h2 {
    font-size: var(--fs-400);

  }
  
  .product--aside--payment--image {
    width: 40px;
  }

  .product--details {
    display: flex;
    // justify-content: center;
    gap: 2rem;

    margin-top: 3rem;
  }

  .product--details--link {
    font-size: var(--fs-700);
    transition: all 200ms linear;

    &:hover {
      color: var(--clr-accent-200);
    }
  }

  .product--description {
    font-size: var(--fs-500);

    background: var(--color-contrast-lower);
    border-radius: .5rem;
    padding: 2rem;
  }

  .product--specification--wrapper {
    display: flex;
    justify-content: space-between;

    background: var(--color-contrast-lower);

    border-radius: .5rem;

    padding: 2rem;
  }

  .product--specification--paragraph {
    font-size: var(--fs-400);
  }

  .section--details {
    grid-area: section--details;
  }

  .section--description {
    grid-area: section--description;
  }

  .section--specification {
    grid-area: section--specification;
  }

  .section--reviews {
    grid-area: section--reviews;
  }

  .user--review--wrapper {
    display: flex;
    justify-content: space-between;

  }

  .user--review--card {
    background: var(--color-contrast-lower);
    border-radius: .5rem;
    padding: 1rem 5rem;
  }

  .review--button {
    color: var(--clr-gray-scale-100);
    font-size: var(--fs-300);
    font-family: var(--ff-montserrat);

    background: var(--clr-accent-300);
    padding: .8em;
    border-radius: .5rem;
    border: 0;
    outline: 0;
  }

  .review--card {
    display: flex;
    align-items: center;
    gap: 1rem;

    background: var(--color-contrast-lowest);
    border-radius: .5rem;
  
    padding: 2rem;

    margin-top: 2rem;
  }

  .review--card--text {
    margin-bottom: auto;
  }

  .review--card--h3 {

  }

  .review--card--image {
    width: 100px;
    border-radius: 100%;
  }
}