@use '../abstracts/mixins.scss' as *;

// Large
@include lg {
  body {
    display: grid;
    place-content: center;
  }

  .register--body--wrapper {
    display: flex;

    border-radius: 1rem;
    margin: 2rem;

  }

  .register--illustration {
    height: 90vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    background: var(--accent-100);

    &--header {
      max-width: 30ch;

      color: var(--color-contrast-higher);
      font-family: var(--ff-montserrat);
      font-size: 1.8rem;
      text-align: center;
    }

    &--image {
      width: 50vw;
      filter: contrast(100%);
      border-radius: 1rem;
      padding: .5rem;
      margin: 1rem;
    }
  }
}
