@use '../abstracts/mixins.scss' as *;

body {
  display: grid;
  place-content: center;
}

.register--body--wrapper {
  margin: .75rem;
}

.register--illustration {
  width: 100%;

  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;

  background: var(--accent-100);
  border-radius: 1rem;
  padding: 1rem;

  &--image {
    width: 4 0rem;
  }

  &--header {
    font-size: clamp(1.75rem, 5vw, 2.75rem);
    text-align: center;

    margin: 1rem 0
    // max-width: 20ch;
  }
}

.register--form--heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .5rem;

  &--image { 
    margin-top: 1rem;
  }
}


// Large
@include lg {
  body {
    display: grid;
    place-content: center;
  }
  
  .register--body--wrapper {
    display: flex;
    
    border-radius: 1rem;
    margin: 1rem;
  }
  
  .register--illustration {
    width: 50%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background: var(--accent-100);
    border-top-left-radius: 1rem;
    border-top-right-radius: 0;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 0;
    
    &--header {
      max-width: 30ch;
      
      color: var(--color-contrast-higher);
      font-family: var(--ff-montserrat);
      font-size: 1.8rem;
      text-align: center;
      margin: 1rem;
    }
    
    &--image {
      width: 35rem;
      filter: contrast(120%);
      border-radius: 1rem;
      padding: .5rem;
    }
  }
  
  .register--form--wrapper {
    width: 50%;
    
    background: var(--color-contrast-lower);
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    
    padding: 2.5rem;
  }
  
  .register--form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .register--form--heading {
    // margin-top: 3rem;
    
    &--image {
      display: flex;
      justify-content: center;
      align-items: center;
      
      margin-bottom: 1rem;
    }
    
    &--header {
      font-size: 2.75rem;
    }
    
  }
  
  .register--form--name--last {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    
    margin-top: 2.5rem;
    
    .register--form--name,
    .register--form--last {
      width: 100%;
      color: var(--color-contrast-higher);
      
      background: var(--color-contrast-low);
      outline: 0;
      border: 0;
      border-radius: 1.2rem;
      
      padding: .70rem;
    }
    
  }
  
  .register--form--name--wrapper {
    display: flex;
    justify-content: flex-start;
    position: relative;
  }
  
  .register--form--name {
    transition: all 250ms ease-out;
    
    &:hover,
    &:focus-within {
      border-color: rgba(0,0,0,0.1);
      background-color: var(--color-contrast-lower);
      -webkit-box-shadow: 0 0 0 3px var(--accent-100);
      box-shadow: 0 0 0 3px var(--accent-100);
      
      transition: all 250ms ease-out;
    }
    
    &--label {
      font-size: 1.35rem;
      
      content: '';
      position: absolute;
      top: -30px;
      left: 15px;
      
      transition: all 200ms ease-out;
    }
    
    &:focus ~ .register--form--name--label  {
      color: var(--accent-100);
      transform: scale(0.9);
      transition: all 200ms ease-out;
    }
    
  }
  
  .register--form--last--wrapper {
    display: flex;
    justify-content: flex-end;
    position: relative;
  }
  
  .register--form--last {
    transition: all 250ms ease-out;
    
    &:hover,
    &:focus-within {
      border-color: rgba(0,0,0,0.1);
      background-color: var(--color-contrast-lower);
      -webkit-box-shadow: 0 0 0 3px var(--accent-100);
      box-shadow: 0 0 0 3px var(--accent-100);
      
      transition: all 250ms ease-out;
    }
    
    &--label {
      font-size: 1.3rem;
      
      content: '';
      position: absolute;
      top: -30px;
      left: 15px;
      
      transition: all 200ms ease-out;
    }
    
    &:focus ~ .register--form--last--label  {
      color: var(--accent-100);
      transform: scale(0.9);
      transition: all 200ms ease-out;
    }
  }
  
  // Second Section
  
  .register--form--email--pass {
    display: flex;
    align-items: center;
    flex-direction: column;
    // width: 90%;
    
    .register--form--email,
    .register--form--pass {
      width: 100%;
      color: var(--color-contrast-higher);
      
      background: var(--color-contrast-low);
      outline: 0;
      border: 0;
      border-radius: 1.2rem;
      
      padding: .70rem;
    }
    
    .register--form--email--wrapper {
      width: 100%;
      
      position: relative;
    }
    
    
    .register--form--email {
      margin-top: 3rem;
      transition: all 250ms ease-out;
      
      &:hover,
      &:focus-within {
        border-color: rgba(0,0,0,0.1);
        background-color: var(--color-contrast-lower);
        -webkit-box-shadow: 0 0 0 3px var(--accent-100);
        box-shadow: 0 0 0 3px var(--accent-100);
        
        transition: all 250ms ease-out;
      }
      
      &--label {        
        content: '';
        position: absolute;
        top: 15px;
        left: 15px;
        
        transition: all 200ms ease-out;
      }
      
      &:focus ~ .register--form--email--label  {
        color: var(--accent-100);
        transform: scale(0.9);
        transition: all 200ms ease-out;
      }
    }
    
    .register--form--pass--wrapper {
      width: 100%;
      
      position: relative;
    }
    
    .register--form--pass {
      margin-top: 3rem;
      transition: all 250ms ease-out;
      
      &:hover,
      &:focus-within {
        border-color: rgba(0,0,0,0.1);
        background-color: var(--color-contrast-lower);
        -webkit-box-shadow: 0 0 0 3px var(--accent-100);
        box-shadow: 0 0 0 3px var(--accent-100);
        
        transition: all 250ms ease-out;
      }
      
      &--label {
        content: '';
        position: absolute;
        top: 15px;
        left: 15px;
        
        transition: all 200ms ease-out;
      }
      
      &:focus ~ .register--form--pass--label  {
        color: var(--accent-100);
        transform: scale(0.9);
        transition: all 200ms ease-out;
      }
    }
    
  }
  
  .register--form--name,
  .register--form--name--label,
  .register--form--last,
  .register--form--last--label,
  .register--form--email,
  .register--form--email--label,
  .register--form--pass,
  .register--form--pass--label {
    font-family: var(--ff-montserrat);
    font-size: 1rem;
  }
  
  .divider {
    text-align: center;
    position: relative;
    
    margin-top: 2rem;
    margin-bottom: 1rem;
    
    &::after {
      width: 45%;
      height: 2px;
      
      content: '';
      position: absolute;
      bottom: 50%;
      right: 0;
      background: var(--color-contrast-higher);
      opacity: .65;
    }
    
    &::before {
      width: 45%;
      height: 2px;
      
      content: '';
      position: absolute;
      bottom: 50%;
      left: 0;
      
      background: var(--color-contrast-higher);
      opacity: .65;
    }
  }
  
  .sign--in--link {
    color: var(--color-contrast-higher);
    line-height: 1.6;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    
    border-radius: .5rem;
    background: #4285F4;
    
    padding: 0 8px;
    padding-top: 4px;
    padding-bottom: 2.75px;
    margin-left: 5px;
    
    transition: all 200ms ease-in-out;
    
    &:hover {
      color: var(--color-contrast-lowest);
      background: hsl(217, 89%, 61%, 0.8);
      
      transition: all 200ms ease-in-out;
    }
  }

  .register--button {
    display: flex;
    justify-content: center;
    margin-top: 2rem;

    &--link {
      color: var(--color-contrast-higher);
      line-height: 1.6;

      width: 100%;
      
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      
      border-radius: .5rem;
      background: var(--accent-100);
      
      padding: .5rem;
      
      transition: all 200ms ease-in-out;
      
      &:hover {
        color: var(--color-contrast-higher);
        background: var(--accent-100);

        opacity: .65;
        
        transition: all 200ms ease-in-out;
      }
    }
  }

}
