@use '../abstracts/mixins.scss' as *;

.support--main {
  margin-top: 8.5rem;
}

.support--header {
  height: 70vh;
  display: flex;
  flex-direction: column-reverse;

  margin: 2.35rem 2rem;

  @include mq(992px) {
    height: 65vh;
    
    display: grid; 
    row-gap: 2rem;
    column-gap: 2rem;
    grid-template-columns: 1fr 1fr; // Dane-se o cálculo
    grid-template-rows: 1fr; 
    
    margin: 2.35rem 2rem;
  }
}

.support--header--wrapper {
  @include mq(992px) {
    display: flex;

    @include space-around;

    gap: 1rem;
  }
}

.support--section--title {
  text-align: center;
  font-size: 3rem;

  @include mq(992px) {
    text-align: center;
    font-size: 4rem;
  }
}

.support--section--paragraph {
  font-size: var(--fs-400);
  
  margin-bottom: 1rem;

  @include mq(992px) {
    font-size: var(--fs-500);
  }
}

.support--section--image--wrapper {
  display: flex;

  @include items-center;

  @include mq(992px) {
    display: flex;
    justify-content: center;
    
    .support--section--image {
      width: 80%;
    }
  }
}

.support--section--left {
  &--h1 {
    font-size: var(--fs-600);
  }
  
  span {
    padding: .25rem .4rem;
    
    background-image: linear-gradient(90deg, hsl(330deg 100% 25%), hsl(352deg 100% 50%));
    font-style: italic;
    border-radius: .25rem;
  }
  
  &--input {
    color: var(--clr-gray-scale-90);
    width: max-content;
    
    padding: .45rem;
    background-image: linear-gradient(var(--clr-gray-scale-90), var(--clr-gray-scale-100));
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 0% 4px;
    outline: 0;
    border: 0;
    font-size: 1.35rem;
    
    background-color: var(--clr-gray-scale-700);
    
    transition: all 150ms ease-in;
    
    &:hover,
    &:focus-within {
      background-size: 100% 4px;
    }
  }
  
  &--wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
  }
  
} 

.support--section--right {
  display: flex;

  @include items-center;

  @include mq(992px) {
    &--h1 {
      font-size: var(--fs-500);
    }
    
    span {
      padding: .2rem;
      background-image: linear-gradient(90deg, purple, red);
      border-radius: .25rem;
    }
    
    &--input {
      color: var(--clr-gray-scale-90);
      
      padding: .45rem;
      background-image: linear-gradient(var(--clr-gray-scale-90), var(--clr-gray-scale-100));
      background-position: center bottom;
      background-repeat: no-repeat;
      background-size: 0% 4px;
      outline: 0;
      border: 0;
      font-size: 1.35rem;
      
      background-color: var(--clr-gray-scale-700);
      
      transition: all 150ms ease-in;
      
      &:hover,
      &:focus-within {
        background-size: 100% 4px;
      }
    }
    
    &--wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
    }
  }
}

.support--section--right, 
.support--section--left {
  @include mq(992px) {
    display: flex;

    @include items-center;
    @include column;
    
    &--image {
      width: 320px;
      height: 320px;
      
      &--logo {
        width: 320px;
      }
    }
  }

}

.support--needhelp--wrapper{
  display: flex;

  @include column;
  @include items-center;

  @include mq(992px) {
    display: flex; 
    align-items: flex-start;

    @include column;
  }
}

.support--section--image {
  width: 27.5rem;
}

.support--section--card--wrapper {
  max-width: 310px;
  margin-left: auto;
  margin-right: auto;

  @include mq(576px) {
    max-width: none;

    display: grid;
    gap: 2.5rem;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 0;
    margin-right: 0;

    padding: 2rem;
  }

  @include mq(992px) {
    max-width: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    gap: 1rem;
    
    margin: 1.5rem;
    margin-left: 3rem;
    margin-right: 3rem;
  }

  @include mq(1200px) {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
    margin: 2rem;
  }
}

.support--section--card {
  height: auto;
  
  display: flex;
  
  gap: 1rem;
  margin-bottom: 2rem;
  
  padding: 1.5rem;
  
  box-shadow: 5px 5px 0 5px var(--clr-accent-200); 
  background: var(--clr-gray-scale-90);
  border: solid 5px var(--clr-accent-100);

  @include column;
  @include items-center;

  &--h1 {
    font-size: var(--fs-400);
    
    width: 8rem;
    
    display: flex;

    @include items-center;

    position: relative;
    
    &::after {
      content: '';
      width: 100%;
      height: 5%;
      
      background: var(--color-contrast-higher);
      position: absolute;
      bottom: -10%;
      left: 0;
      border-radius: 1rem;
    }
  }

  @include mq(992px) {
    height: auto;
    
    display: flex;
    
    gap: 1rem;
    
    padding: 1.5rem;
    
    box-shadow: 5px 5px 0 5px var(--clr-accent-200); 
    background: var(--clr-gray-scale-800);
    // border-radius: 1rem;
    border: solid 5px var(--clr-accent-100);

    @include column;
    @include items-center;
    // padding: clamp(2rem, 1.4000vw + 3.0000vw, 5rem);
    
    &--h1 {
      font-size: var(--fs-500);
      
      width: 8rem;
      
      display: flex;

      @include items-center;

      position: relative;
      
      &::after {
        content: '';
        width: 100%;
        height: 20%;
        
        background: var(--clr-gray-scale-90);
        position: absolute;
        bottom: -10%;
        left: 0;
        border-radius: 1rem;
      }
    }
  }

  @include mq(1200px) {
    height: auto;
    
    display: flex;
    justify-content: space-around;
    
    gap: 1rem;
    
    padding: 3rem; 
    background: var(--clr-gray-scale-700);
    border: solid 4px var(--clr-accent-200);

    @include column;
    
    &--h1 {
      font-size: var(--fs-400);
      
      width: 8rem;
      
      display: flex;

      @include items-center;

      position: relative;
      
      &::after {
        content: '';
        width: 100%;
        height: 20%;
        
        background: var(--clr-gray-scale-90);
        position: absolute;
        bottom: -10%;
        left: 0;
        border-radius: 1rem;
      }
    }
    
    &--svg {
      width: 100%;
      height: auto;
    
      margin-top: 1rem;
      transform-style: preserve-3d;
      transition: transform 700ms ease-in-out;
    }
  }
}

.support--card--h1 {
  font-size: var(--fs-500);
  position: relative;
  
  &::after {
    content: '';
    width: 100%;
    height: 10px;
    
    background: var(--clr-gray-scale-90);
    position: absolute;
    
    bottom: 0;
    left: 0;
    
    border-radius: 1rem;
    
    opacity: .65;
  }

  @include mq(992px) {
    font-size: var(--fs-600);
    position: relative;
    
    &::after {
      content: '';
      width: 100%;
      height: 10px;
      
      background: var(--clr-gray-scale-90);
      position: absolute;
      
      bottom: 0;
      left: 0;
      
      border-radius: 1rem;
      
      opacity: .65;
    }
  }
}

.support--card--button {
  background: none;
  outline: 0;
  border: 0;
  
  &:hover .support--card--svg,
  &:focus .support--card--svg {
    transform: rotateY(360deg);
    cursor: pointer;
  }

  @include mq(992px) {
    background: none;
    outline: 0;
    border: 0;
    
    &:hover .support--card--svg,
    &:focus .support--card--svg {
      transform: rotateY(360deg);
      cursor: pointer;
    }
  }
}

.support--card--svg {
  width: 100%;
  height: auto;
  
  opacity: .65;
  
  margin-top: 1rem;
  transform-style: preserve-3d;
  transition: transform 700ms ease-in-out;
}