@use '../abstracts/mixins.scss' as *;

@include lg {
  
  .support--header {
    display: grid;
    grid-template-columns: 1fr 1fr; // Dane-se o cálculo
    grid-template-rows: 1fr;
    column-gap: 2rem; 
    row-gap: 2rem; 
  
    margin: 2.35rem 0;
  }
  
  .support--section--wrapper {
    display: flex;
    @include space-around;
    gap: 1rem;
  }

  .support--section--right, 
  .support--section--left {
    display: flex;
    @include items-center;
    @include column;
    
    &--image {
      width: 320px;
      height: 320px;
      
      &--logo {
        width: 320px;
      }
    }
  }
  
  
  .support--section--left {
    &--h1 {
      font-size: 3.5rem;
    }
    
    span {
      background-image: linear-gradient(90deg, purple, red);
      border-radius: .25rem;
      
      padding: .2rem;
    }
    
    &--input {
      color: var(--color-contrast-highest);
      font-size: 1.35rem;
      
      background-color: var(--color-contrast-lowest);
      background-image: linear-gradient(var(--color-contrast-higher), var(--color-contrast-higher));
      background-size: 0% 4px;
      background-repeat: no-repeat;
      background-position: center bottom;
      // background: var(--color-contrast-lowest);
      outline: 0;
      border: 0;
      // border-bottom: solid 1px red;
      
      padding: .45rem;
      
      transition: all 150ms ease-in;
      
      &:hover,
      &:focus-within {
        background-size: 100% 4px;
      }
    }
    
    &--wrapper {
      // width: 70%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
    }
    
  } 
  
  .support--section--right {
    display: flex;
    @include column;
    
    justify-content: center;
    align-items: flex-end;
    
    &--h1 {
      font-size: 3.5rem;
    }
    
    span {
      background-image: linear-gradient(90deg, purple, red);
      border-radius: .25rem;
      
      padding: .2rem;
    }
    
    &--input {
      color: var(--color-contrast-highest);
      font-size: 1.35rem;
      
      background-color: var(--color-contrast-lowest);
      background-image: linear-gradient(var(--color-contrast-higher), var(--color-contrast-higher));
      background-size: 0% 4px;
      background-repeat: no-repeat;
      background-position: center bottom;
      outline: 0;
      border: 0;
      
      padding: .45rem;
      
      transition: all 150ms ease-in;
      
      &:hover,
      &:focus-within {
        background-size: 100% 4px;
      }
    }
    
    &--wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
    }
  }
  
  .support--section--title {
    text-align: center;
    font-size: 4rem;
  }
  
  .support--section--paragraph {
    font-size: 1.75rem;
    
    // max-width: 35ch;
    
    margin-bottom: 1rem;
  }
  
  .support--section--image--wrapper {
    display: flex;
    justify-content: flex-end;
    
    .support--section--image {
      width: 80%;
    }
  }
  
  .support--section--card {
    height: auto;
    
    display: flex;
    @include column;
    @include items-center;
    
    gap: 1rem; 
    background: var(--color-contrast-low);
    border-radius: 1rem;
    border: solid 4px var(--accent-100);
    
    padding: 3rem;
    // padding: clamp(2rem, 1.4000vw + 3.0000vw, 5rem);
    
    &--h1 {
      font-size: 2rem;
      
      width: 8rem;
      
      display: flex;
      @include items-center;
      position: relative;
      
      &::after {
        width: 100%;
        height: 20%;
        
        background: var(--color-contrast-higher);
        border-radius: 1rem;
        content: '';
        position: absolute;
        left: 0;
        bottom: -10%;
      }
    }
    
    &--svg {
      width: 100%;
      height: auto;
      
      // padding: 1rem;
      margin-top: 1rem;
      transform-style: preserve-3d;
      transition: transform 700ms ease-in-out;
      
      
    }
  }
  
  #support--section--card--link {
    &:hover {
      .support--section--card--svg {
        transform: rotateY(360deg);
      }
    }
    
  }
  
  .support--section--accordion {
    font-size: 1.5rem;
    color: #444;
    text-align: left;
    
    width: 100%;
    
    background-color: #eee;
    cursor: pointer;
    border: none;
    border-radius: 1rem;
    outline: none;
    
    padding: 18px;
    
    transition: all 400ms ease;
  }

  .active, 
  .support--section--accordion:hover {
    width: 100%;
    color: var(--color-contrast-higher);
    
    background-color: var(--color-contrast-lowest);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    
    transition: all 400ms ease;
  }

  .support--section--panel {
    width: 100%;
    max-height: 0;
    
    background-color: var(--color-contrast-higher);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    
    padding: 0 18px;
    overflow: hidden;
    
    transition: max-height 0.2s ease-out;
    
    p {
      color: var(--color-contrast-lowest);
      padding: 1rem 0;
    }
  }

  .support--contact--user--card {
    width: 100%;
    background: var(--color-contrast-lowest);
    padding: 1rem;
  }
  
  .support--contact--svg {
    width: 3rem;
    height: 3rem;
  }
  // Utility Classes
  .align-left {
    text-align: left;
  }
  
  .main-background {
    background: var(--color-background);
  }
  
  .margin-top {
    margin-top: 10rem;
  }
  
  .max-width {
    max-width: 25ch;
  }
  
  .center {
    justify-content: center;
    align-items: center;
  }

  .flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .flex-start {
    align-items: flex-start;
  }
  
  .reduced--width {
    width: 80%;
  }

  .total-width {
    width: 40rem;
    height: 30rem;
  }
  
}