// Class Mixins
@mixin flex {
  display: flex;
}

@mixin items-center {
  @include flex;

  align-items: center;
  justify-content: center;
}

@mixin space-between {
  @include flex;

  align-items: center;
  justify-content: space-between;
}

// Media Queries 

// Small devices
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
      @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
      @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
      @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
      @content;
  }
}