@use '../abstracts/breakpoints.scss' as *;

// Flexbox Mixins
@mixin flex {
  display: flex;
}

@mixin column {
  flex-direction: column;
}

@mixin items-center {
  align-items: center;
  justify-content: center;
}

@mixin space-between {
  align-items: center;
  justify-content: space-between;
}

@mixin space-around {
  align-items: center;
  justify-content: space-around;
}

@mixin space-evenly {
  align-items: center;
  justify-content: space-evenly;
}


// Media Queries 

// Small devices
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
      @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
      @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
      @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
      @content;
  }
}